<template lang="html">
  <div class="item" :id="'item_'+this_id">
    <div class="item__photo">
      <div class="photo" :id="'photo_item_' + this_id">
        <template v-if="loading">
          Загрузка
        </template>
        <template v-else>
          <template v-if="show_photo">
            <img :src="new_photo_src" v-if="editing"/>
            <img :src="photo_src" v-else/>
          </template>
          <svg v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="nophoto"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <div class="file_upload" v-if="editing">
            <button type="button">
              <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
            </button>
            <input type="file" @change="select_image">
          </div>
        </template>
      </div>
    </div>
    <div class="item__info">
      <div class="item__name">
        <input type="text" v-model="edit.name" v-if="editing">
        <template v-else>{{ this_name }}</template>
      </div>
      <div class="item__description">
        <textarea name="name" rows="3" cols="20" v-model="edit.description" v-if="editing">
        </textarea>
        <template v-else>{{ this_description }}</template>
      </div>
      <div class="item__price">
        <input type="text" v-model="edit.price" v-if="editing">
        <input type="text" v-model="edit.price_partner" v-if="editing">
        <template v-else>{{ this_price }} / {{ this_price_partner}}</template>
        &#8381;
      </div>
    </div>
    <div class="item__buttons">
      <template v-if="editing">
        <button class="btn-save" v-bind:class="{ show: editing }" type="button" name="button" v-on:click="save_item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
        </button>
        <button class="btn-cancel" type="button" name="button" v-on:click="edit_item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
        </button>
        <button class="btn-remove" v-bind:class="{ show_two: editing }" type="button" name="button" v-on:click="remove_item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </button>
      </template>
      <button class="edit_item" type="button" name="button" v-on:click="edit_item" v-else>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
      </button>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
import config from '../../config.js'
import $ from 'jquery'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

const myApiFile = axios.create({
  baseURL: config.API_URL,
  headers: {
//    'Accept': 'application/json',
    'Content-Type': 'multipart/form-data'
  }
});


export default {
  name: 'Item',
  props: ['id', 'photo', 'name', 'description', 'price', 'price_partner'],
  data() {
    return {
      loading: false,
      editing: false,
      this_id: this.id,
      this_photo: this.photo,
      this_name: this.name,
      this_description: this.description,
      this_price: this.price,
      this_price_partner: this.price_partner,
      new_photo_src: '',
      edit: {
        id: null,
        name: '',
        photo: '',
        description: '',
        price: 0,
        price_partner: 0,
        new_photo: false
      }
    }
  },
  computed: {
    show_photo: function() {
      if (this.editing) {
        if (this.new_photo_src) return true;
        if (this.edit.photo === 'none') return false;
      } else {
        if (this.this_photo === 'none') return false;
      }
      return true;
    },
    photo_src: function() {
      var src = config.API_URL + 'goods/' + this.this_photo;
      return src;
    }
  },
  methods: {
    remove_item: function() {
      var url = "/remove_goods.php"
      var data = new FormData();
      var item = {
        id: this.id
      }
      data.append("data", JSON.stringify(item));
      myApi.post(url,data)
        .then(function (response) {
          if (response.data.error === 0) {
            $('#item_' + this.id).slideUp(200);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    select_image(e) {
      var file = e.target.files[0];

      if(file.type.match(/image.*/)) {
        // Load the image
        var reader = new FileReader();
        reader.onload = function (readerEvent) {
          var image = new Image();
          image.onload = function (imageEvent) {

            // Resize the image
            var canvas = document.createElement('canvas'),
              max_size = 600,
              width = image.width,
              height = image.height;
            if (width > height) {
              if (width > max_size) {
                height *= max_size / width;
                width = max_size;
              }
            } else {
              if (height > max_size) {
                width *= max_size / height;
                height = max_size;
              }
            }
            canvas.width = width;
            canvas.height = height;
            canvas.getContext('2d').drawImage(image, 0, 0, width, height);
            this.new_photo_src = canvas.toDataURL('image/png');

            this.edit.new_photo = true;

          }.bind(this)
          image.src = readerEvent.target.result;
        }.bind(this)
        reader.readAsDataURL(file);
      }
    },
    upload_photo: function() {
      var blobBin = atob(this.new_photo_src.split(',')[1]);
      var array = [];
      for(var i = 0; i < blobBin.length; i++) {
        array.push(blobBin.charCodeAt(i));
      }
      var file = new Blob([new Uint8Array(array)], {type: 'image/png'});

      var fd = new FormData();

      // fd.append("user", JSON.stringify(user)); // user data
      fd.append("image", file, this.this_id); // blob file

      var url = 'upload_photo_goods.php';
      myApiFile.post(url,fd)
        .then(function (response) {
          if (response.data.error === 0) {
            console.log(response.data.name);
            this.this_photo = response.data.name;
          }
          this.loading = false;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    edit_item: function() {
      this.editing = !this.editing;
      this.new_photo_src = '';
      if (this.editing) {
        this.edit.id = this.this_id;
        this.edit.name = this.this_name;

        this.edit.photo = this.this_photo;
        if (this.show_photo) this.new_photo_src = this.photo_src;

        this.edit.description = this.this_description;
        this.edit.price = this.this_price;
        this.edit.price_partner = this.this_price_partner;
        this.edit.new_photo = false;
      }
    },
    save_item: function() {
      this.loading = true;
      //если данные не были зменены, проверяем изменина ли картинка, иначе сначала загружаем новые данные
      if (this.this_name === this.edit.name && this.this_description === this.edit.description && this.this_price === this.edit.price && this.this_price_partner === this.edit.price_partner) {
        this.editing = false;
        if (this.edit.new_photo) {
          this.upload_photo();
        } else {
          this.loading = false
        }
      } else {
        var url = "/edit_goods.php"
        var data = new FormData();

        //data.append("user", JSON.stringify(user));
        data.append("data", JSON.stringify(this.edit));
        myApi.post(url,data)
          .then(function (response) {
            this.editing = false;
            this.this_name = this.edit.name;

            this.this_description = this.edit.description;
            this.this_price = this.edit.price;
            this.this_price_partner = this.edit.price_partner;
            if (this.edit.new_photo) {
              this.upload_photo();
            } else {
              this.loading = false
            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  }
}
</script>

<style lang="scss">
.item {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 10px;
  border: 1px solid silver;
  position: relative;

  &__photo {
    position: relative;
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    .photo {
      position: relative;
      width: 100px;
      height: 100px;
      text-align: center;
      transition: all 0.3s ease;
      img {
        max-width: 100px;
        max-height: 100px;
        margin: 10px 0;
        transition: all 0.3s ease;
      }
    }
    .nophoto {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 20px;
      left: 25px;
    }
    .file_upload{
      position: absolute;
      overflow: hidden;
      margin: 0;
      opacity: 1;
      top: 30px;
      left: calc(50% - 20px);
    }
    .file_upload > button{
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background: rgba(208, 245, 159, 0.7);
      svg {
        top: 5px;
        left: 5px;
        position: absolute;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
    .file_upload input[type=file]{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scale(20);
      letter-spacing: 10em;
      -ms-transform: scale(20);
      opacity: 0;
      cursor: pointer;
    }
  }

  &__info {
    input {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    textarea {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  &__name {
    padding: 0;
  }

  &__description {
    border: 0px silver solid;
    padding: 0;
  }

  &__price {
    input {
      width: 100px;
    }
  }
  &__buttons {
    position: relative;
    button {
      margin: 0;
      padding: 0;
      position: absolute;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: none;
      border-radius: 50%;
      background-color: #005d7c;
      color: #fff;
      top: 3px;
      right: 3px;
      transition: all 0.3s ease;
      &.show {
        top: 35px;
      }
      &.show_two {
        top: 67px;
      }
    }
    .btn-save {
      svg {
        top: 2px;
        left: 5px;
        width: 20px;
      }
    }
    .btn-remove {
      svg {
        top: 2px;
        left: 5px;
        width: 20px;
      }
    }
    .btn-cancel {
      svg {
        top: 2px;
        left: 5px;
        width: 20px;
      }
    }
    .edit_item {
      svg {
        top: 1px;
        left: 6px;
        width: 20px;
      }
    }
  }
}
</style>
