<template lang="html">
  <div class="book">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>База знаний</h1>
        </div>
      </div>
    </div>
    <button class="btn-plus" @click="new_lesson" v-if="admin">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>
    <transition name="fade">
      <div class="edit_lesson" @click.self="show_edit = false" v-if="show_edit">
        <div class="edit_lesson__form">
          Новый урок.
          <div class="lesson_aval">
            <button :class="{active: edit.aval === 'opened'}" @click="edit.aval = 'opened'">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 9.9-1"></path></svg>
            </button>
            <button :class="{active: edit.aval === 'closed'}" @click="edit.aval = 'closed'">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
            </button>
            <button :class="{active: edit.aval === 'sale'}" @click="edit.aval = 'sale'">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
            </button>
            <div v-if="edit.aval === 'opened'" class="price">
              <span>В открытом доступе </span>
            </div>
            <div v-if="edit.aval === 'closed'" class="price">
              <span>Открыть после: </span>
              <select v-model="edit.unlock">
                <template v-for="less in lessons">
                  <option :value="less.id">{{ less.header }}</option>
                </template>
              </select>
            </div>
            <div v-if="edit.aval === 'sale'" class="price">
              <span>Стоимость: </span>
                  <input type="text" v-model="edit.price">
            </div>
          </div>
          <input type="text" placeholder="Тема" v-model="edit.header">
          <quill-editor v-model="edit.description" :options="editorOption"></quill-editor>

          Вопросы
          <div class="quests">
            <template v-for="(quest, index) in edit.questions">
              <div class="quest">
                <div class="quest-row">
                  <input type="text" placeholder="Вопрос" v-model="quest.question">
                  <button title="Удалить вопрос" @click="remove_question(index)" class="quest-row__remove btn-remove" v-if="edit.questions.length > 1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                  </button>

                </div>
                <div class="answer" v-for="answer in quest.answers">
                  <input class="answer__text" type="text" placeholder="Вариант ответа" v-model="answer.answer" :class="{true: quest.true === answer.id}">
                  <input class="answer__true" type="radio" :name="quest.id" :value="answer.id" v-model="quest.true">
                  <button title="Удалить ответ" @click="remove_answer(index, answer.id)" class="answer__remove btn-remove" v-if="quest.answers.length > 1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                  </button>
                </div>
                <button class="btn btn-small" @click="add_answer(quest.id)">+</button>
              </div>
            </template>
            <button class="btn btn-small" @click="add_question">+ вопрос</button>
            <button class="btn btn-small btn-save" @click="save_lesson">Сохранить</button>
          </div>
        </div>
      </div>
    </transition>

    <transition name="fade">
      <div class="show_lesson" @click.self="show_lesson = false" v-if="show_lesson">
        <div class="show_lesson__content">
          <h2>{{ opened_lesson.header }}</h2>
          <div v-html="opened_lesson.description.replace(/(?:\r\n|\r|\n)/g, '<br />')"></div>
          <div class="questions" v-if="test">
            <div>
              <b>{{ opened_lesson.questions[question].question }}</b>
              <label v-for="answer in opened_lesson.questions[question].answers">
                <input type="radio" :value="answer.id" v-model="select_answer" :name="opened_lesson.questions[question].id">
                {{ answer.answer }}
              </label>
            </div>
            <button class="btn btn-small" @click="next_question">Следующий</button>
          </div>
          <div class="final_test" v-if="test_success">
            Тест успешно пройден!
            <div v-if="this.opened_lessons.length">
              <small>Вам стали доступны следующие темы:</small>
              <h2 v-for="openedPlesson in opened_lessons">{{ openedPlesson }}</h2>
            </div>
          </div>
          <div class="final_test" v-if="test_fail">Вы допустили ошибку.. Попробуйте ещё раз</div>
        </div>
      </div>
    </transition>

    <div class="lessons">
      <div class="lesson" :class="lesson.color" v-for="(lesson,index) in lessons" v-bind:key="index">
        {{ lesson.header }}
        <div class="label">
          <svg v-if="lesson.aval === 'complited'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
          <svg v-if="lesson.aval === 'opened'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 9.9-1"></path></svg>
          <svg v-if="lesson.aval === 'closed'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
          <svg v-if="lesson.aval === 'sale'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
        </div>
        <button :disabled="lesson.aval === 'closed' || lesson.aval === 'sale'" class="btn btn-small" @click="open_lesson(index)">Начать</button>
        <div v-if="admin">
          <button class="btn btn-small btn-edit" @click="edit_lesson(index)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
          </button>
          <button class="btn btn-small btn-remove" @click="remove_lesson(index)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'

import { quillEditor } from 'vue-quill-editor'


const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});



export default {
  props: ['id','level'],
  components: {
    quillEditor
  },
  data () {
    return {
      test: true,
      test_success: false,
      test_fail: false,
      loading: 0,
      show_edit: false,
      show_lesson: false,
      opened_lessons: [],
      lessons: [],
      question: 0,
      select_answer: 0,
      answers: [],
      opened_lesson: {
        id: null,
        aval: 'opened',
        unlock: 0,
        price: 0,
        header: '',
        description: '',
        questions: []
      },
      edit: {
        id: null,
        aval: 'opened',
        unlock: 0,
        price: 0,
        header: '',
        description: '',
        questions: [{id:1, question:'', true:1, answers:[{id:1, answer:''}]}]
      },
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            [{ 'header': 1 }, { 'header': 2 }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            [{ 'direction': 'rtl' }],
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            ['clean'],
            ['link', 'video']
          ],
          syntax: false,
        },
        placeholder: 'Текст'
      }
    }
  },
  computed: {
    admin: function() {
      return  this.level === 2 || this.level === 13?true:false;
    }
  },
  watch: {
    show_edit: function (val) {
      if (val) {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    },
    show_lesson: function (val) {
      if (val) {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    }
},
  methods: {
    open_lesson: function (index) {
      this.test = true;
      this.test_success = false;
      this.test_fail = false;
      this.opened_lesson = this.lessons[index];
      this.question = 0;
      this.answers.splice(0,this.answers.length);

      //this.select_answer = this.opened_lesson.questions[this.question].answers[0].id;
      this.show_lesson = true;
    },
    next_question: function (id) {
      if (this.opened_lesson.questions.length > (this.question + 1)) {
        this.answers.push(this.select_answer);
        this.question++;
        //this.select_answer = this.opened_lesson.questions[this.question].answers[0].id;
        //console.log(this.select_answer);
      } else {
        this.answers.push(this.select_answer);
        var resultat = true;
        for (var i = 0; i < this.opened_lesson.questions.length; i++) {
          if (this.opened_lesson.questions[i].true !== this.answers[i]) resultat = false;
        }
        if (resultat) {
          this.opened_lessons.splice(0,this.opened_lessons.length);
          this.test = false;
          this.test_success = true;
          if (this.opened_lesson.aval === 'opened')
            this.complite_lesson(true);
        } else {
          this.test = false;
          this.test_fail = true;
          if (this.opened_lesson.aval === 'opened')
            this.complite_lesson(false);
        }
      }
    },
    complite_lesson: function (result) {

      var url = "/complite_lesson.php";
      var data = new FormData();
      var lesson = {
        id: this.opened_lesson.id,
        user: this.id,
        result: result
      }
      data.append("data", JSON.stringify(lesson));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            if (result) {
              this.opened_lesson.aval = 'complited';
              this.opened_lesson.color = 'green';
              for (var i = 0; i < this.lessons.length; i++) {
                if (this.lessons[i].aval === 'closed' && this.lessons[i].conditions === lesson.id) {
                  this.lessons[i].aval = 'opened';
                  this.opened_lessons.push(this.lessons[i].header);
                }
              }
            } else this.opened_lesson.color = 'red';
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    new_lesson: function () {
      this.edit = {
        id: null,
        aval: 'opened',
        price: 0,
        unlock: 0,
        header: '',
        description: '',
        questions: [{id:1, question:'', true:1, answers:[{id:1, answer:''}]}]
      };
      this.show_edit = true;
    },
    add_answer: function (id) {
      var new_answer = {
        id: null,
        answer: '',
      }
      for (var i = 0; i < this.edit.questions.length; i++) {
        if (this.edit.questions[i].id === id) {
          new_answer.id = this.edit.questions[i].answers[this.edit.questions[i].answers.length - 1].id + 1;
          this.edit.questions[i].answers.push(new_answer);
        }
      }
    },
    remove_answer(index, id) {
      for (var i = 0; i < this.edit.questions[index].answers.length; i++) {
        if (this.edit.questions[index].answers[i].id === id) {
          this.edit.questions[index].answers.splice(i,1);
        }
      }
    },
    remove_question(index) {
      this.edit.questions.splice(index,1);
    },
    add_question: function () {
      var new_question = {
        id:null,
        question:'',
        true: 1,
        answers:[{id:1, answer:'',true:1}]
      }
      new_question.id = this.edit.questions[this.edit.questions.length - 1].id + 1;
      this.edit.questions.push(new_question);
    },
    edit_lesson: function (index) {
      this.edit = this.lessons[index];
      this.show_edit = true;
    },
    remove_lesson: function (index) {
      var url = "/remove_lesson.php";
      var data = new FormData();
      var lesson = {
        id: this.lessons[index].id
      }
      data.append("data", JSON.stringify(lesson));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            this.lessons.splice(index,1);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    save_lesson: function () {
      var url = "/edit_lesson.php";
      var data = new FormData();
      var lesson = this.edit;
      if (lesson.aval === 'closed') {
        lesson.conditions = lesson.unlock;
      }
      if (lesson.aval === 'sale') {
        lesson.conditions = lesson.price;
      }
      data.append("data", JSON.stringify(lesson));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            if (!this.edit.id) {
              this.edit.id = response.data.id;
              this.lessons.push(this.edit);
              this.show_edit = false;
            } else this.show_edit = false;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_lessons: function () {
      this.loading++;
      this.lessons.splice(0,this.lessons.length);
      var url = "/lessons.php";

      var data = new FormData();
      var user = {
        id: this.id
      }
      data.append("user", JSON.stringify(user));

      myApi.post(url,data)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            var lesson = {
              id: response.data[i].id,
              aval: response.data[i].result?'complited':response.data[i].aval,
              unlock: response.data[i].aval === 'closed'?response.data[i].conditions:0,
              price: response.data[i].aval === 'sale'?response.data[i].conditions:0,
              conditions: response.data[i].conditions,
              header: response.data[i].header,
              url: response.data[i].url,
              description: response.data[i].description,
              questions: JSON.parse(response.data[i].questions),
              date: response.data[i].date,
            }
            if (response.data[i].result === 0) {
              lesson.color = 'red'
            }
            if (response.data[i].result === 1) {
              lesson.color = 'green'
            }
            this.lessons.push(lesson);
          }
          for (var i = 0; i < this.lessons.length; i++) {
            if (this.lessons[i].aval === 'complited') {
              for (var n = 0; n < this.lessons.length; n++) {
                if (this.lessons[n].aval === 'closed' && this.lessons[n].conditions === this.lessons[i].id)
                this.lessons[n].aval = 'opened';
              }
            }
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    getId: function (url) {
      var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
      var match = url.match(regExp);

      if (match && match[2].length == 11) {
          return match[2];
      } else {
          return 'error';
      }
    }
  },
  mounted () {
    this.get_lessons();
  }
}
</script>

<style lang="scss">
.lesson_aval {
  button {
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    margin: 0 3px 3px 0;
    color: #005D7C;
    svg {
      top: 0;
      left: 3px;
      width: 20px;
    }
    &.active {
      background-color: #005D7C;
      color: #fff;
    }
  }
}
.quill-editor {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  svg {
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
    height: auto;
    color: #005D7C;
  }
  .ql-toolbar.ql-snow {
    border: none;
    border-bottom: 1px solid #005d7c;
  }
  .ql-container.ql-snow {
    border-color: #005d7c;
    font-size: 14px;
  }
  .ql-snow .ql-tooltip.ql-flip {
    left: 0 !important;
  }
}

.book {

  .lessons {
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;

    .lesson {
      padding: 10px;
      margin: 5px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #eee;
      width: 200px;
      height: 200px;
      text-transform: uppercase;
      color: #005D7C;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &.green {
        background-color: rgb(182, 246, 187);
      }

      &.red {
        background-color: rgb(245, 203, 203);
      }

      &:hover {
        background-color: #eee;
      }

      .label {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
          position: relative;
          margin: 0;
          padding: 0;
          width: 40px;
          height: 40px;
          top: 0;
          left: 0;
        }
      }

      .btn-small {
        width: 100%;
        margin: 5px 0;
        &:disabled {
          background-color: silver;
        }
      }
      .btn-edit, .btn-remove {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        display: inline-block;
      }
      .btn-edit {
        svg {
          top: 1.5px;
          left: 6px;
          width: 20px;
        }
      }
      .btn-remove {
        svg {
          top: 2px;
          left: 5px;
          width: 20px;
        }
      }
    }
  }

  .show_lesson {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(00,00,00,0.5);
    z-index: 2;

    &__content {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      max-height: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      width: 640px;
      max-width: 100%;
      margin: 30px 10px;
      position: relative;

      &::-webkit-scrollbar-track {
      	border-radius: 5px;
      	background-color: #fff;
      }

      &::-webkit-scrollbar {
      	width: 8px;
      	background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
      	border-radius: 10px;
      	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      	background-color: #005d7c;
      }

      h2 {
        text-transform: uppercase;
        color: #005D7C;
        font-weight: 500;
        margin: 0 0 10px;
      }

      iframe {
        width: 100%;
        height: 300px;
      }
    }

    .questions {
      padding: 10px;
      label {
        display: block;
      }
      .btn {
        margin: 10px 0;
      }
    }
    .final_test {
      margin: 15px;
      font-size: 16px;
    }
  }

  .edit_lesson {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(00,00,00,0.5);
    z-index: 2;

    &__form {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      max-height: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      width: 640px;
      max-width: 100%;
      margin: 30px 10px;

      &::-webkit-scrollbar-track {
      	border-radius: 5px;
      	background-color: #fff;
      }

      &::-webkit-scrollbar {
      	width: 8px;
      	background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
      	border-radius: 10px;
      	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      	background-color: #005d7c;
      }


      input, textarea, select {
        display: block;
        width: 100%;
        border: 1px solid #005d7c;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      input {
        padding-left: 5px;
      }
      textarea {
        height: 150px;
        padding: 5px;
      }

      .price {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        line-height: 33px;
        font-size: 14px;
        span {
          width: 160px;
        }
      }
      .quest {
        border: 1px solid #ddd;
        padding: 3px;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      .quest-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__remove {
          border-radius: 13px;
          margin-bottom: 3px;
          margin-left: 5px;
          background-color: #f55;
          color: #fff;
          width: 25px;
          height: 25px;
          border: none;
          padding: 0;
          position: relative;
          svg {
            top: 0;
            left: 2px;
            width: 19px;
          }
          &:hover {
            background-color: #f00;
          }
        }
      }
      .answer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input {
          border-color: #eee;
          max-width: 550px;
          &.true {
            // border-color: green;
          }
        }

        &__text {
          width: 100%;
        }

        &__true {
          width: 20px;
        }

        &__remove {
          border-radius: 13px;
          margin-bottom: 3px;
          background-color: #f55;
          color: #fff;
          width: 25px;
          height: 25px;
          border: none;
          padding: 0;
          position: relative;
          svg {
            top: 0;
            left: 3px;
            width: 19px;
          }
          &:hover {
            background-color: #f00;
          }
        }

      }
      .btn {
        margin: 0 5px 5px 0;
      }
      .btn-save {
        background-color: #005d7c;
        &:hover {
          background-color: #00BCF9;
        }
      }
    }
  }
}
</style>
