<template lang="html">
  <div class="buy">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Закупка</h1>
          <div class="cart" v-if="show_cart">
            <div v-if="items_in_cart.length < 1">Корзина пуста</div>
            <div v-else>
              <template v-for="item_in_cart in items_in_cart">
              <div class="cart__item">
                <div class="item-description">
                  {{ item_in_cart.name}} - <small>{{ item_in_cart.price_partner }} руб.</small>
                </div>
                <div class="item-quantity">
                  <button @click="edit_quantity(item_in_cart.id, -1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                  </button>
                  <span class="quantity">{{ item_in_cart.quantity}}</span>
                  <button @click="edit_quantity(item_in_cart.id, 1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                  </button>
                  <button @click="edit_quantity(item_in_cart.id, -item_in_cart.quantity)" class="remove">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                  </button>
                </div>
              </div>
            </template>
            <hr />
            Итого: <span class="sum">{{ sum }}</span> руб.
            <button class="btn-loading btn-blue btn-small" @click="add_application">
              <div class="spinner" v-if="loading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
              <template v-else>Заказать</template>
            </button>
            </div>

          </div>



          <div class="spinner loader-main" v-if="loading_main">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <!-- <Cart v-if="show_cart" v-on:clear_cart="clear_cart" v-bind="user"/> -->
          <div class="bascet" @click.stop="show_cart = !show_cart" id="cart">
            <span class="quantity" id="quantity">{{ quantity }}</span>
          </div>
          <div class="buy__nav">
            <!-- <button class="btn btn-small category" v-bind:class="{ active: category === 0 }" v-on:click="set_category(0)">Все</button> -->
            <template v-for="cat in categories">
              <button class="btn btn-small category" v-bind:class="{ active: category === cat.id }" v-on:click="set_category(cat.id)">{{ cat.name }}</button>
            </template>
          </div>
          <div>
          <div class="buy__items">
            <template v-for="item in items">
              <div :key="item.id" class="buy__item" :title="item.name">
                <div class="photo">
                  <div v-if="item.photo === 'none'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="nophoto"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                  </div>
                  <img :src="photo_src(item.photo)" alt="">
                </div>
                <div>
                  <div class="buy__item_price">{{ item.price_partner }} &#8381;</div>
                  <div>
                    <button class="btn-blue btn-small btn-add-to-card" @click="add_to_cart(item.id,item.name, item.price_partner)">
                      <template v-for="q in items_in_cart">
                        <span v-if="q.id == item.id">{{ q.quantity }} </span>
                      </template>
                      В корзину
                    </button>
                  </div>
                </div>
              </div>
            </template>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import config from '../config.js'
import $ from 'jquery'
import _ from 'lodash'
import Cart from '../components/Cart.vue'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

var categories = [];
var items = [];
var items_in_cart = [];


$(document).on('click', function(e) {
  if (!$(e.target).closest(".cart").length) {
    obj.show = !obj.show;
  }
});

var obj = {
  show: false
}



export default {
  name: 'Buy',
  components: {
    Cart
  },
  props: ['id'],
  data() {
    return {
      obj,
      items: items,
      categories: categories,
      items_in_cart: items_in_cart,
      category: 0,
      loading: 0,
      loading_main: 0,
      show_cart: false,
      user: {id: this.id}
    }
  },
  computed: {
    show: function () {
      return this.obj.show;
    },
    quantity: function() {
      var quantity = 0;
      for (var i = 0; i < this.items_in_cart.length; i++) {
        quantity += this.items_in_cart[i].quantity;
      }
      return quantity;
    },
    sum: function() {
      var sum = 0;
      for (var i = 0; i < this.items_in_cart.length; i++) {
        sum += this.items_in_cart[i].price_partner * this.items_in_cart[i].quantity;
      }
      return sum;
    }
  },
  watch: {
    show: function (val) {
      if (this.show_cart) this.show_cart = false;
    },
    category: function(id) {
      this.get_goods(id);
    },
    quantity: function() {
      this.puls_quantity();
    }
  },
  methods: {
    get_cart: function(id) {
      items_in_cart.splice(0,items_in_cart.length);
      var url = "/goods.php";
      var data = new FormData();
      var options = {
        category: 0,
        user: this.id,
        cart: true
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          //console.log(response.data);
          if (!response.data.error) {
            items_in_cart.splice(0,items_in_cart.length);
            for (var i = 0; i < response.data.length; i++) {
              items_in_cart.push(response.data[i]);
            }
            console.log(items_in_cart);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    add_to_cart: function(id, name, price) {
      var add = false;
      var item = {
        id: id,
        name: name,
        price_partner: price,
        quantity: 1
      };

      for (var i = 0; i < items_in_cart.length; i++) {
        if (items_in_cart[i].id == id) {
          items_in_cart[i].quantity++;
          add = true;
        }
      }
      if (!add) {
        items_in_cart.push(item);
      }
      this.update_cart();
    },
    edit_quantity: function(id, quantity) {
      for (var i = 0; i < items_in_cart.length; i++) {
        if (items_in_cart[i].id == id) {
          items_in_cart[i].quantity+=quantity;
          if (items_in_cart[i].quantity < 1) {
            items_in_cart.splice(i,1);
          }
        }
      }
      this.update_cart();
    },
    update_cart: _.debounce(function() {
      if (!this.loading) {
        var items = [];
        for (var i = 0; i < items_in_cart.length; i++) {
          var item = {
            id: items_in_cart[i].id,
            quantity: items_in_cart[i].quantity
          }
          items.push(item);
        }
        var url = "/update_partner_cart.php";
        var data = new FormData();
        var user = {
          id: this.id
        };
        data.append("data", JSON.stringify(user));
        data.append("items", JSON.stringify(items_in_cart));

        myApi.post(url,data)
          .then(function (response) {
            //console.log(response);
            //this.loading--;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }
    }, 2000),
    add_application: function() {
      if (items.length > 0) {
        this.loading++;
        var url = "/add_application.php";
        var data = new FormData();
        var goods = [];
        for (var i = 0; i < items_in_cart.length; i++) {
          var item = {
            id: items_in_cart[i].id,
            quantity: items_in_cart[i].quantity
          }
          goods.push(item);
        }
        var user = {
          user_id: this.id
        }
        data.append("user", JSON.stringify(user));
        data.append("data", JSON.stringify(goods));

        myApi.post(url,data)
          .then(function (response) {
            this.loading--;
            console.log(response.data.error);
            if (response.data.error === 0) {
              //если ошибок нет - чистим корзину
              items_in_cart.splice(0,items_in_cart.length);
              //this.$emit('clear_cart');
            } else {
              alert('error :' + response.data.error);
            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }
    },
    photo_src: function(name) {
      return config.API_URL + 'goods/' + name;
    },
    get_categories: function() {
      this.loading_main++;
      categories.splice(0,categories.length);
      var url = "/categories.php";
      myApi.post(url)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            categories.push(response.data[i]);
          }
          if (categories.length > 0) {
            //Костыль)) Обновляет товары на странице
            if (this.category === categories[0].id) this.get_goods(categories[0].id);
            this.category = categories[0].id;
          } else {
            this.category = 0;
            this.get_goods(0);
          }
          this.loading_main--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    set_category: function(id) {
      this.category = id;
    },
    get_goods: function(category) {
      this.loading_main++;
      items.splice(0,items.length);
      var url = "/goods.php";
      var data = new FormData();
      var options = {
        category: category,
        user: this.id
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            items.push(response.data[i]);
          }
          this.loading_main--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    puls_quantity: function() {
      var quantity_el = $('#quantity')[0];
      if (!this.animate) {
        this.animate = true;
        $(quantity_el).animate({width: 22, height: 22, top: -4, right: -4, lineHeight: 20}, 200);
        $(quantity_el).animate({width: 20, height: 20, top: -3, right: -3, lineHeight: 16}, 200, function () {
          this.animate = false;
        }.bind(this));
      }
    }
  },
  mounted: function () {
    this.get_categories();
    this.get_cart();
    //вызывыем функцию получения товаров с нулевой категорией(все)
  }
}

</script>

<style lang="scss">
.buy {
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
    .btn {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0;
    .photo {
      flex-basis: 200px;
      position: relative;
      .nophoto {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 25;
        left: 75px;
      }
      img {
         max-width: 200px;
         max-height: 200px;
         height: auto;
         padding: 5px;
      }
    }
    &_price {
      text-align: center;
    }
  }
}
</style>
