<template lang="html">
  <div class="clipdoard">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Доска идей</h1>
          <transition name="fade">

            <div class="clipdoard__edit" v-if="show_form" @click.self="show_form = false">
              <div class="clipdoard__edit-form">
                <input type="text" class="subject" placeholder="Тема" v-model="edit.subject">
                <textarea class="content-idea" placeholder="Ваша идея..." v-model="edit.content"></textarea>
                <button class="btn btn-small btn-save" @click="save_idea">опубликовать</button>
              </div>
            </div>

            <div class="clipdoard__show" v-if="show_idea" @click.self="show_idea = false">
              <div class="clipdoard__show-modal">
                <button class="btn-close" @click="show_idea = false">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
                <div class="author">
                  <img :src="photo_url + opened.photo" :alt="opened.name" class="photo">
                  <span class="name">{{ opened.name }}</span><span class="date">{{ opened.date }}</span>
                </div>
                <span class="subject">{{ opened.subject }}</span>
                <p class="content-idea" v-html="opened.content.replace(/(?:\r\n|\r|\n)/g, '<br />')"></p>
                <div v-if="Number(id) === opened.author || admin"><button class="btn-remove" @click="remove_idea(opened.id)">[ удалить ]</button></div>
                <hr>
                <div class="comments">
                  <div class="comment" v-for="(comment, index) in comments">
                    <div class="comment__photo">
                      <img :src="photo_url + comment.photo" alt="">
                    </div>
                    <div class="comment__text">
                      <span class="name">{{ comment.name }}</span><span class="date">{{ comment.date }}</span>
                      <textarea v-if="comment.edit" class="new_comment" placeholder="Комментарий..." v-model="comment.text"></textarea>
                      <p v-else>{{ comment.text }}</p>
                      <button class="btn-remove-comment" v-if="Number(comment.author) === Number(id)" @click="remove_comment(comment.id)">[ удалить комментарий ]</button>
                      <button class="btn-remove-comment" v-if="Number(comment.author) === Number(id)" @click="edit_comment(index)">
                        <template v-if="!comment.edit">[ изменить комментарий ]</template>
                        <template v-else>[ сохранить комментарий ]</template>
                      </button>
                    </div>
                  </div>
                </div>
                <textarea class="new_comment" placeholder="Комментарий..." v-model="opened.comment"></textarea>
                <button class="btn btn-small btn-send" @click="add_comment(opened.id)">отправить</button>
              </div>
            </div>

          </transition>
          <div class="clipdoard__items">
            <button class="btn-new" @click="new_idea">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            </button>
            <div class="clipdoard__idea" v-for="(idea, index) in ideas">
              {{ idea.subject }}
              <div class="idea-nav">
                <div class="likes">
                  <button class="like" @click="like(idea.id,'like')" :class="{active: idea.liked > 0}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                  </button>
                  <span class="rating">{{ idea.rating }}</span>
                  <button class="dislike" @click="like(idea.id,'dislike')" :class="{active: idea.liked < 0}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                  </button>
                </div>
                <button class="btn-read" @click="open_idea(index)">читать</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'
import dateFormat from 'dateformat'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});



export default {
  props: ['id','level'],
  components: {

  },
  data () {
    return {
      show_form: false,
      show_idea: false,
      ideas: [],
      comments: [],
      opened: {
        id: null,
        subject: '',
        content: '',
        date: null,
        comment: '',
      },
      edit: {
        id: null,
        subject: '',
        content: ''
      }
    }
  },
  computed: {
    photo_url: function () {
      return config.API_URL + 'users/th_';
    },
    admin: function () {
      if ((this.level === 2) || (this.level === 13)) return true;
      else return false;
    }
  },
  watch: {
    show_form: function (val) {
      if (val) {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    },
    show_idea: function (val) {
      if (val) {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    }
  },
  methods: {
    open_idea: function (index) {
      this.opened = this.ideas[index];
      this.opened.comment = '';
      this.get_comments(this.opened.id);
      this.show_idea = true
    },
    remove_comment: function (id) {
      var url = "/remove_ideas_comment.php";
      var data = new FormData();
      var comment = {
        id: id
      }
      data.append("data", JSON.stringify(comment));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            for (var i = 0; i < this.comments.length; i++) {
              if (this.comments[i].id === id) {
                this.comments.splice(i,1);
              }
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    edit_comment: function (index) {
      this.comments[index].edit = !this.comments[index].edit;

      if (!this.comments[index].edit){
        var url = "/edit_ideas_comment.php";
        var data = new FormData();
        var comment = {
          id: this.comments[index].id,
          text: this.comments[index].text
        }
        data.append("data", JSON.stringify(comment));
        myApi.post(url, data)
          .then(function (response) {

          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }

    },
    add_comment: function (id) {
      if (this.opened.comment) {
        var url = "/edit_ideas_comment.php";
        var data = new FormData();
        var comment = {
          idea: id,
          text: this.opened.comment,
          author: this.id,
          edit: false
        }
        data.append("data", JSON.stringify(comment));
        myApi.post(url, data)
          .then(function (response) {
            if (response.data.error === 0) {
              this.opened.comment = '';
              comment.name = "Вы";
              comment.id = response.data.id;
              this.comments.push(comment);
              console.log(comment.author);
            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }
    },
    get_comments: function (id) {
      this.comments.splice(0,this.comments.length);

      var url = "/ideas_comments.php";
      var data = new FormData();
      var idea = {
        id: id
      }
      data.append("data", JSON.stringify(idea));
      myApi.post(url, data)
        .then(function (response) {
          if (!response.data.error) {
            for (var i = 0; i < response.data.length; i++) {
              var comment = response.data[i];
              var time = new Date(comment.date);
              comment.date = dateFormat(time, "HH:MM:ss, dd.mm.yyyy");
              comment.edit = false;
              if (comment.author === Number(this.id)) comment.name = "Вы";
              this.comments.push(comment);
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    new_idea: function () {
      this.edit = {
        id: null,
        subject: '',
        content: ''
      }
      this.show_form = true;
    },
    save_idea: function () {
      var url = "/edit_idea.php";
      var data = new FormData();
      var idea = this.edit;
      idea.author = this.id;
      data.append("data", JSON.stringify(idea));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            if (response.data.id) {
              idea.id = response.data.id;
              idea.author = this.id;
              this.ideas.push(idea);
            }
            this.show_form = false;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_ideas: function() {
      this.ideas.splice(0,this.ideas.length);
      var url = "/ideas.php";
      var data = new FormData();
      var config = {
        user: this.id
      }
      data.append("data", JSON.stringify(config));
      myApi.post(url, data)
        .then(function (response) {
          if (!response.data.error) {
            for (var i = 0; i < response.data.length; i++) {
              var idea = response.data[i];
              var time = new Date(idea.date);
              idea.date = dateFormat(time, "HH:MM:ss, dd.mm.yyyy");
              this.ideas.push(idea);
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    remove_idea: function (id) {
      var url = "/remove_idea.php";
      var data = new FormData();
      var config = {
        id: id
      }
      data.append("data", JSON.stringify(config));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            this.show_idea = false;
            for (var i = 0; i < this.ideas.length; i++) {
              if (this.ideas[i].id == id) this.ideas.splice(i,1);
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    like: function(id, act) {
      var like = {
        type: 'idea',
        obj_id: id,
        user: this.id,
        act: act
      }
      var url = "/like.php";
      var data = new FormData();
      data.append("data", JSON.stringify(like));
      myApi.post(url, data)
        .then(function (response) {
          console.log(act);
          if (response.data.error === 0) {
            for (var i = 0; i < this.ideas.length; i++) {
              if (this.ideas[i].id === id) {
                if (this.ideas[i].liked !== null) {
                  if (act === 'like' || this.ideas[i].liked === -1) this.ideas[i].rating = Number(this.ideas[i].rating) + 2;
                  if (act === 'dislike' || this.ideas[i].liked === 1) this.ideas[i].rating = Number(this.ideas[i].rating) - 2;
                  //this.ideas[i].rating = Number(this.ideas[i].rating) + (act === 'like'?2:-2);
                } else {
                  this.ideas[i].rating = Number(this.ideas[i].rating) + (act === 'like'?1:-1);
                }
                this.ideas[i].liked = act === 'like'?1:-1;

              }
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted () {
    this.get_ideas();
  }
}
</script>

<style lang="scss">
.clipdoard {
  //margin: 0 20px;

  &__edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(00, 00, 00, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101;
  }

  &__edit-form {
    background-color: #FFF;
    margin: 10px;
    width: 940px;
    max-width: 95%;
    padding: 15px;
    border-radius: 15px;
    position: relative;

    .subject, .content-idea {
      display: block;
      width: 100%;
      border: none;
      margin: 0 0 10px;

    }
    .subject {
      line-height: 2;
      font-size: 20px;
      color: #333;
      padding: 0 10px;
    }
    .content-idea {
      padding: 10px;
      position: relative;
      height: 300px;
    }
    .btn-save {

    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    .btn-new {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 180px;
      border: 1px dashed silver;
      border-radius: 10px;
      background-color: #fff;
      margin: 0 10px 10px 0;
      svg {
        position: relative;
        top:0;
        left:0;
        width: 50px;
        height: 50px;
        stroke-width:3;
      }
    }
  }

  &__idea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 180px;
    border: 1px dashed silver;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 10px 10px 0;
    padding: 5px;

    .idea-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .likes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        padding: 0 5px;

        .rating {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 20px;
        }
        .like, .dislike {
          position: relative;
          width: 20px;
          height: 20px;
          padding: 0;
          margin: 0;
          border: none;
          background-color: #fff;

          svg {
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            color: #999;
          }

          &:hover, &.active {
            svg {
              color: #000;
            }
          }
        }
      }

      .btn-read {
        width: 50%;
        height: 30px;
        border-radius: 15px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        background-color: #00bcf9;
        &:hover {
          background-color: #005d7c;
        }
      }
    }
  }


  &__show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(00, 00, 00, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101;
  }

  &__show-modal {
    background-color: #FFF;
    margin: 10px;
    width: 940px;
    max-width: 95%;
    max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    border-radius: 15px;
    position: relative;

    .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      border: none;
      padding: 0;
      background-color: #FFF;
      svg {
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
      }
    }

    .author {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      text-transform: uppercase;
      font-size: 14px;
      .name {
        letter-spacing: 1px;
        color: #005d7c;
        margin-right: 15px;
      }
      .date {
        color: #999;
      }
      .photo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
    }

    .subject, .content-idea {
      display: block;
      width: 100%;
      border: none;
      margin: 0 0 10px;

    }
    .subject {
      line-height: 2;
      font-size: 20px;
      color: #333;
      padding: 0 10px;
    }
    .content-idea {
      padding: 10px;
      position: relative;
    }

    .btn-remove {
      padding: 0;
      border: none;
      background-color: #fff;
      margin: 0 10px;
      font-size: 12px;
      color: #777;
      &:hover {
        color: #000;
      }
    }
    hr {
      border: 0; height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .comments {
      .comment {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        &__photo {
          width:75px;

          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            //margin-right: 10px;
          }
        }

        &__text {
          .name, .date {
            text-transform: uppercase;
            font-size: 14px;
          }

          .name {
            color: #005d7c;
            margin-right: 15px;
            letter-spacing: 1px;
          }

          .date {
            color: #999;
          }

          p {
            margin: 5px 0;
          }

          .btn-remove-comment {
            border: none;
            padding: 0;
            margin: 0;
            background-color: #FFF;
            font-size: 12px;
            color: #777;
            &:hover {
              color: #000;
            }
          }

        }
      }

    }

    .new_comment {
      display: block;
      width: 100%;
      border: none;
      margin: 0 0 10px;
      padding: 10px;
      position: relative;
      height: 100px;
    }

    .btn-send {
      margin: 0 0 0 auto;
    }
  }



}
</style>
