<template lang="html">
  <div class="edit_user">
    <div class="spinner loader-main" v-if="loading_main">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div style="margin-left: 15px;">
      <h1>Изменить профиль</h1/>
      <div class="edit_user__nav">
        <button @click="show = 'main'" :class="{active: show === 'main'}">Основная информация</button>
        <button @click="show = 'other'" :class="{active: show === 'other'}">Дополнительно</button>
      </div>
    </div>
    <div class="container-fluid" v-if="show === 'main'">
      <div class="row">
        <div class="col-6">
          Имя<input type="text" v-model="name">
          Номер телефона<input type="text" v-model="phone">
          Город<input type="text" v-model="city">
          Улица<input type="text" v-model="street">
          <div class="house_row">
            <div>Дом<input type="text" v-model="house"></div>
            <div>Кв/Офис<input type="text" v-model="room"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="edit_user__photo">
            <div class="photo">
              <img :src="photo_src"/>
            </div>
            <div class="file_upload">
              <button class="btn-trns btn-small" type="button">Изменить фото</button>
              <input type="file" @change="select_photo">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid" v-if="show === 'other'">
      <div class="row">
        <div class="col-12">
          История
          <textarea name="name" v-model="story"></textarea>
          Телеграм<input type="text" v-model="social.telegram">
          Вконтакте<input type="text" v-model="social.vk">
          Facebook<input type="text" v-model="social.fb">
          Instagram<input type="text" v-model="social.instagram">
          Одноклассники<input type="text" v-model="social.ok">
          WhatsApp<input type="text" v-model="social.whatsapp">
        </div>
      </div>
    </div>

    <button class="btn-loading btn-blue btn-small" @click="save_user">
      <div class="spinner" v-if="loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <template v-else>Сохранить</template>
    </button>

    <br>Ваше местоположение:

    <div class="map" id="map">
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import axios from 'axios'
import $ from 'jquery';
import config from '../config.js';

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

const myApiFile = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Content-Type': 'multipart/form-data'
  }
});

var coordinates = [];


function httpGet(url) {
  return new Promise(function(resolve, reject) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.onload = function() {
      if (this.status == 200) {
        resolve(this.response);
      } else {
        var error = new Error(this.statusText);
        error.code = this.status;
        reject(error);
      }
    };
    xhr.onerror = function() {
      reject(new Error("Network Error"));
    };
    xhr.send();
  });

}

var myPlacemark;
var myMap;
var ymaps;
function createMap() {
  $.getScript('//api-maps.yandex.ru/2.1/?lang=ru_RU').then(() => {
    ymaps = global.ymaps;
    ymaps.ready(() => {
      myMap = new ymaps.Map("map", {
        center:[null, null],
        zoom:13,
        controls: ['zoomControl']
      });
      createPlacemark();
    });
  });
}

function createPlacemark() {
  myPlacemark = new ymaps.Placemark(myMap.getCenter(), {}, {
    // Задаем стиль метки (метка в виде круга).
    preset: "islands#dotCircleIcon",
    draggable: true,
    // Задаем цвет метки (в формате RGB).
    iconColor: '#ff0000'
  });
  myMap.geoObjects.add(myPlacemark);
  myPlacemark.events.add("dragend", function (event) {
    //console.log(myPlacemark.geometry.getCoordinates());
    coordinates = myPlacemark.geometry.getCoordinates();
    console.log(coordinates);
    myMap.setCenter(coordinates);

  });

  myMap.setCenter(coordinates);
  myPlacemark.geometry.setCoordinates(coordinates);
}


export default {
  name: "EditUser",
//  components: { yandexMap, ymapMarker },
  props: ['id', 'level'],
  data() {
    return {
      show: 'main',
      name: '',
      phone: '',
      city: '',
      street: '',
      house: '',
      room: '',
      photo: '',
      story: '',
      social: {
        telegram: '',
        vk: '',
        fb: '',
        instagram: '',
        ok: '',
        whatsapp: ''
      },
      xcoord: 0,
      ycoord: 0,
      cityxcoord: null,
      cityycoord: null,
      this_photo: 'none',
      photo_src: '',
      new_photo: false,
      loaddata: 0,
      loading: 0,
      loading_main: 0,
      user: {
        id: this.id,
        level: this.level
      }
    }
  },
  computed: {
    coords: function() {
      return [this.xcoord, this.ycoord];
    }
  },
  watch: {
    loading: function(status) {
      if (!status) {
        this.$emit('reload');
      }
    },
    city: function() {
    if (!this.loaddata) {
      this.getCoordinats();
      this.getCityCoordinats();
    } else this.loaddata--;

    },
    street: function() {
      if (!this.loaddata) {
        this.getCoordinats();
      } else this.loaddata--;
    },
    house: function() {
      if (!this.loaddata) {
        this.getCoordinats();
      } else this.loaddata--;
    },
    coords: function(с) {
      coordinates = с;
      if (myMap) {
        myMap.setCenter(с);
        myPlacemark.geometry.setCoordinates(с);
      }

    }
  },
  methods: {
    save_user: function() {
      if (!this.loading) {
        this.loading++;

        if (this.new_photo) {
          this.upload_photo();
        }

        var name = this.name;
        var city = this.city;
        if (name && city) {
          var url = "/edit_user.php"
          var data = new FormData();
          var user = {
            id: this.id,
            name: name,
            phone: this.phone,
            city: city,
            street: this.street,
            house: this.house,
            room: this.room,
            story: this.story,
            social: this.social,
            coordinates: coordinates,
            coordiantes_city: [this.cityxcoord ,this.cityycoord]
          }
          data.append("data", JSON.stringify(user));
          myApi.post(url,data)
            .then(function (response) {
              //console.log(response);
              if (response.data.error === 0) {
                this.loading--;
              }
              else console.log('Ошибочка');
            }.bind(this))
            .catch(function (error) {
              console.log(error);
            });
        } else {
          console.log('Обязательрые поля Имя и Город');
        }
      }

    },
    select_photo(e) {
      var file = e.target.files[0];
      if(file.type.match(/image.*/)) {
        // Load the image
        var reader = new FileReader();
        reader.onload = function (readerEvent) {
          var image = new Image();
          image.onload = function (imageEvent) {

            // Resize the image
            var canvas = document.createElement('canvas'),
              max_size = 600,
              width = image.width,
              height = image.height;
            if (width > height) {
              if (width > max_size) {
                height *= max_size / width;
                width = max_size;
              }
            } else {
              if (height > max_size) {
                width *= max_size / height;
                height = max_size;
              }
            }
            canvas.width = width;
            canvas.height = height;
            canvas.getContext('2d').drawImage(image, 0, 0, width, height);
            this.photo_src = canvas.toDataURL('image/png');
            this.new_photo = true;

          }.bind(this)
          image.src = readerEvent.target.result;
        }.bind(this)
        reader.readAsDataURL(file);
      }
    },
    upload_photo: function() {
      this.loading++;
      var blobBin = atob(this.photo_src.split(',')[1]);
      var array = [];
      for(var i = 0; i < blobBin.length; i++) {
        array.push(blobBin.charCodeAt(i));
      }
      var file = new Blob([new Uint8Array(array)], {type: 'image/png'});

      var fd = new FormData();

      fd.append("image", file, this.id); // blob file

      var url = 'upload_photo_users.php';
      myApiFile.post(url,fd)
        .then(function (response) {
          if (response.data.error === 0) {
            //console.log(response.data.name);
            this.this_photo = response.data.name;
            this.loading--;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    getCoordinats: _.debounce(function() {
      var city = this.city;
      var street = this.street;
      var house = this.house;
      httpGet("https://geocode-maps.yandex.ru/1.x/?format=json&geocode="+city+"+"+street+"+"+house)
        .then(function (response) {
          var adres = JSON.parse(response);
          var adres_obj = adres.response.GeoObjectCollection.featureMember[0].GeoObject;
          //console.log(adres_obj);
          var coords = adres_obj.Point.pos;
          var arr = coords.split(' ');
          this.xcoord = arr[1];
          this.ycoord = arr[0];
          //console.log(this.coords);
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }, 1500),
    getCityCoordinats: _.debounce(function() {
      var city = this.city;
      var street = this.street;
      var house = this.house;
      httpGet("https://geocode-maps.yandex.ru/1.x/?format=json&geocode="+city)
        .then(function (response) {
          var adres = JSON.parse(response);
          var adres_obj = adres.response.GeoObjectCollection.featureMember[0].GeoObject;
          //console.log(adres_obj);
          var coords = adres_obj.Point.pos;
          var arr = coords.split(' ');
          this.cityxcoord = arr[1];
          this.cityycoord = arr[0];
          console.log(this.cityxcoord + '  ' + this.cityycoord);
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }, 1500),
    getUserData: function() {
      this.loading_main++;
      var url = "/user_data.php"
      var data = new FormData();
      var user = {
        id: this.id
      }
      data.append("data", JSON.stringify(user));
      myApi.post(url,data)
        .then(function (response) {
          //console.log(response);
          if (response.data) {
            this.name = response.data.name;
            this.phone = response.data.phone;
            this.city = response.data.city;
            if (response.data.story) this.story = response.data.story;
            if (response.data.social) {
              var social = JSON.parse(response.data.social);
              if (social.telegram) this.social.telegram = social.telegram;
              if (social.vk) this.social.vk = social.vk;
              if (social.fb) this.social.fb = social.fb;
              if (social.instagram) this.social.instagram = social.instagram;
              if (social.ok) this.social.ok = social.ok;
              if (social.whatsapp) this.social.whatsapp = social.whatsapp;
            }
            if (response.data.city) this.loaddata++;
            this.street = response.data.street;
            if (response.data.street) this.loaddata++;
            this.house = response.data.house;
            if (response.data.house) this.loaddata++;
            this.room = response.data.room;
            var arr = response.data.coordinates.split(' ');
            this.photo = response.data.photo;
            this.photo_src = config.API_URL + 'users/' + this.photo;
            this.xcoord = arr[0];
            this.ycoord = arr[1];
            this.loading_main--;
          } else this.loading_main--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getUserData();
    createMap();
  }

}
</script>

<style lang="scss">
.edit_user {
  font-size: 12px;
  margin-left: 5px;
  &__nav {
    button {
      border: none;
      background-color: transition;
      color: #555;
      text-transform: uppercase;
      padding: 0;
      margin: 5px 10px 5px 0;
      &:hover {
        color: #00bcf9;
      }
      &.active {
        text-decoration: none;
        color: #00bcf9;
        text-decoration: underline;

      }
    }
  }

  h1 {
    font-weight: 400;
    margin: 0;
  }
  .house_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      width: 45%;
    }
  }
  .map {
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    height: 300px;
  }
  input {
    display: block;
    width: 100%;
    padding: 0 5px;
    line-height: 2;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    border: 1px solid rgb(166, 197, 215);
  }

  textarea {
    display: block;
    width: 100%;
    padding: 0 5px;
    line-height: 1.2;
    font-size: 12px;
    border-radius: 5px;
    height: 120px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(166, 197, 215);
  }

  &__photo {
    position: relative;
    .photo {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      background-color: silver;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .file_upload{
      position: relative;
      overflow: hidden;
      margin: 22px 0;
    }
    .file_upload > button{
      float: right;
      width: 100%;
      height: 100%;
    }
    .file_upload input[type=file]{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scale(20);
      letter-spacing: 10em;
      -ms-transform: scale(20);
      opacity: 0;
      cursor: pointer;
    }
  }

  .btn-loading {
    margin-left: 15px;
  }
}
</style>
