<template lang="html">
  <div class="goods">
    <div class="spinner loader-main" v-if="loading_main">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="goods__nav">
      <button class="btn btn-blue btn-small category" id="category_id_all" v-bind:class="{ active: category === 0 }" v-on:click="set_category(0)">Все</button>
      <template v-for="cat in categories">
        <button class="btn btn-blue btn-small category" :id="'category_id_' + cat.id" v-bind:class="{ active: category === cat.id }" v-on:click="set_category(cat.id)">{{ cat.name }}</button>
      </template>
      <button class="btn btn-blue btn-small" @keyup.space.prevent @click.self="add_category">
        <input type="text" id="name_category" @keyup.enter="add_category" v-model="new_category">
        +
      </button>
      <button class="btn btn-red btn-small" id="add_category_cancel" @click="add_category_cancel">
        x
      </button>
    </div>
    <div class="goods__nav">
      <button class="btn btn-blue btn-small" type="button" name="button" v-on:click="addItem">Добавить товар</button>
      <button class="btn btn-blue btn-small category_options" @click.self="options_category" v-if="category !== 0">
        <svg @click.self="options_category" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
        <div class="category_options__btns" id="options_category">
          <button class="btn btn-small">Переименовать</button>
          <button class="btn btn-small" @click.self="edit_category('remove')">Удалить</button>
          <button class="btn btn-small" @click.self="edit_category('visible')">{{ visible }}</button>
        </div>
      </button>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="items">
            <Item v-for="item in items" v-bind="item"  :key="item.id"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Item from './Goods/Item.vue'
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

var categories = [];
var items = [];
var category = 0;

var user = {
  id: 1,
  key: 'askdasdas'
}

export default {
  name: 'Goods',
  components: {
    Item
  },
  data() {
    return {
      items: items,
      categories: categories,
      category: category,
      loading: 0,
      loading_main: 0,
      new_category: '',
      action: {
        add_category: false,
        options_category: false
      }
    }
  },
  computed: {
    visible: function() {
      for (var i = 0; i < categories.length; i++) {
        if (categories[i].id == this.category) {
          if(categories[i].visible) return "Не отображать";
          else return "Отображать";
        }
      }
    }
  },
  watch: {
    category: function(id) {
      this.get_goods(id);
      category = id;
    }
  },
  methods: {
    edit_category: function (action) {
      this.loading_main++;
      var url = "/edit_category.php";
      var data = new FormData();
      var edit_category = {
        id: this.category,
        action: action
      };
      data.append("data", JSON.stringify(edit_category));
      myApi.post(url, data)
        .then(function (response) {
          this.loading_main--;
          if (response.data.error === 0) {
            if (action === 'visible') {
              if (this.v === 1) this.v = 0;
              else this.v = 1;
              for (var i = 0; i < categories.length; i++) {
                if (categories[i].id == category) {
                  if (categories[i].visible) categories[i].visible = 0;
                  else categories[i].visible = 1;
                }
              }
            }
            if (action === 'remove') {
              this.options_category();
              this.category = 0;
              this.get_categories();
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    options_category: function() {
      if (this.action.options_category) {
        this.action.options_category = false;
        $('#options_category').hide(300);
      } else {
        this.action.options_category = true;
        $('#options_category').show(300);
      }


    },
    add_category: function() {
      if (this.action.add_category && this.new_category) {
        this.loading_main++;
        var url = "/add_category.php";
        var data = new FormData();
        var new_category = {
          name: this.new_category
        };
        data.append("data", JSON.stringify(new_category));
        myApi.post(url, data)
          .then(function (response) {
            if (response.data.error === 0) {
              this.add_category_cancel();
              this.get_categories();
            }
            this.loading_main--;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      } else {
        this.action.add_category = true;
        $('#name_category').show( "slow" );
        $('#add_category_cancel').fadeIn( "slow" );
        $("#name_category").focus();
      }
    },
    add_category_cancel: function() {
      this.new_category = '';
      this.action.add_category = false;
      $('#name_category').hide( "slow" );
      $('#add_category_cancel').fadeOut( "slow" );
    },
    get_categories: function() {
      //categories.splice(0,categories.length);
      this.loading_main++;
      var url = "/categories.php";
      myApi.post(url)
        .then(function (response) {
          categories.splice(0,categories.length);
          for (var i = 0; i < response.data.length; i++) {
            categories.push(response.data[i]);
          }
          this.loading_main--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    set_category: function(id) {
      this.category = id;
    },
    get_goods: function(category) {
      this.loading_main++;
      items.splice(0,items.length);
      var url = "/goods.php";
      var data = new FormData();
      var filter = {
        category: category
      };
      data.append("data", JSON.stringify(filter));

      myApi.post(url,data)
        .then(function (response) {
          items.splice(0,items.length);
          for (var i = 0; i < response.data.length; i++) {
            items.push(response.data[i]);
          }
          this.loading_main--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    addItem: function () {
      this.loading++;
      var info = {
        id: null,
        photo: 'none',
        name: 'Назване',
        description: 'Описание',
        price: 0,
        price_partner: 0,
        category: this.category
      }
      var url = "/add_goods.php"
      var data = new FormData();
      data.append("data", JSON.stringify(info));
      myApi.post(url,data)
        .then(function (response) {
          info.id = response.data.id;
          items.unshift(info);
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted: function () {
    this.get_categories();
    //вызывыем функцию получения товаров с нулевой категорией(все)
    this.get_goods(category);
  }
}


var drag = false;
var drag_item, drag_item_id;
function onMouseMove(e) {
  if (drag)
  console.log(e);
}

function onMouseDown(e) {
  if (e.which != 1) return;

  drag_item = e.target.closest('.photo');

  if (!drag_item) return;
  document.body.style.cursor = "pointer";

  console.log('Выбран продукт ' + drag_item.id.substring(11));
  drag_item_id = Number(drag_item.id.substring(11));
  drag = true;
  return false;
}

function onMouseUp(e) {
  document.body.style.cursor = "default";

  var elem = e.target.closest('.category');
  if (elem) var category_id = elem.id.substring(12);
  if (elem && drag) {
    drag = false;
    if (category !== 0 && category !== category_id) $('#item_' + drag_item_id).slideUp(200);
    items.forEach(function(values, item) {
      if (items[item].id === drag_item_id) {
        var url = "/edit_goods.php";
        var data = new FormData();
        var item = {
          id: drag_item_id,
          category: category_id
        }
        data.append("user", JSON.stringify(user));
        data.append("data", JSON.stringify(item));
        myApi.post(url,data)
          .then(function (response) {
            console.log(response);
            $(elem).animate({backgroundColor: 'red'});
            //console.log(elem);
            $(elem).animate({fontWeight: 700}, 200);
            $(elem).animate({fontWeight: 400}, 200);
          })
          .catch(function (error) {
            console.log(error);
          });
      }

    });
    console.log('Перенесён в категорию ' + category_id);
  } else {
    drag = false;
  }
}
//document.onmousemove = onMouseMove;
document.onmousedown = onMouseDown;
document.onmouseup = onMouseUp;
</script>

<style lang="scss">
.goods {
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
    .btn {
      margin-right: 5px;
      margin-bottom: 5px;

    }
    #add_category_cancel {
      display: none;
    }
    .category_options {
      position: relative;
      width: 36px;
      outline-style: none;
      svg {
        width: 22px;
        height: 22px;
        top: 5px;
        left: 7px;
      }
      &__btns {
        position: absolute;
        top: 0;
        left: 38px;
        display: none;
        .btn {
          position: relative;
          margin: 0 0 2px;
          z-index: 100000;
        }
      }
    }
  }
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
</style>
