<template lang="html">
  <div class="stock">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="block applications">Ваша история:
            <template v-if="loading">Загрузка</template>

            <template v-for="application in applications">
              <div class="orders__item" :id="'application_id_' + application.id">
                <div>{{ application.date }} - {{ application.action }}</div>
                <div class="order_status accept" v-if="application.status === 1">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>
                  Проведён
                </div>
                <div class="order_status cancel" v-if="application.status === 2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                  Отменён
                </div>
                <div class="order_status wait" v-if="application.status === 0">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 15 15"></polyline></svg>
                  Рассматривается
                </div>
                <div v-if="show_detail && show_detail_id === application.id">
                  <div>
                    <div v-if="detail.name">Имя: {{ detail.name }}</div>
                    <div v-if="detail.phone">Номер телефона: {{ detail.phone }}</div>
                    <div v-if="detail.email">Email: {{ detail.email }}</div>
                    <div>Товар:</div>
                    <template v-for="items in detail.items">
                      <div>
                        <small>{{ items.name }} - {{ items.quantity }}
                        <span v-if="application.location === 'offline' && items.price"> - по {{ items.price }} руб.</span>
                      </small>
                    </div>
                    </template>
                    <div v-if="detail.discount">
                      <small>Скидка - {{ detail.discount }} руб.</small>
                      <small>По промокоду - {{ detail.promocode }} руб.</small>
                    </div>
                  </div>
                </div>
                <div class="order__control">
                  <button class="btn btn-small" v-on:click="detail_application(application.id, application.location)">Детали</button>
                  <button class="btn btn-small btn-cancel" v-on:click="cancel_application(application.id, application.location, application.status)">Отмена</button>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'


var appliacation_items = []
const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

var applications = [];

export default {
  name: 'Stock',
  props: ['id'],
  data() {
    return {
      applications: applications,
      loading: 0,
      show_detail: false,
      show_detail_id: null,
      detail: {
        items: appliacation_items,
        name: '',
        phone: '',
        email: '',
        discount: false,
        promocode: ''
      }
    }
  },
  methods: {
    get_applications: function() {
      this.loading++;
      applications.splice(0,applications.length);
      var url = "/applications.php";
      var data = new FormData();
      var options = {
        location: 'all',
        user_id: this.id
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {

            var date = new Date(response.data[i].date);
            function formatDate(date) {
              var dd = date.getDate();
              if (dd < 10) dd = '0' + dd;
              var mm = date.getMonth() + 1;
              if (mm < 10) mm = '0' + mm;
              var yy = date.getFullYear() % 100;
              if (yy < 10) yy = '0' + yy;
              return dd + '.' + mm + '.' + yy;
            }

            var action = function(val) {
              if (val === 'offline') return 'Оффлайн продажа';
              if (val === 'order') return 'Онлайн продажа';
              if (val === 'stock') return 'Закупка';
            }
            var application = {
              id: response.data[i].id,
              date: formatDate(date),
              status: response.data[i].status,
              location: response.data[i].action,
              action: action(response.data[i].action)
            }
            applications.push(application);
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    detail_application: function(id, location) {
      if (this.show_detail === true && this.show_detail_id === id) {
        this.show_detail = false;
        return;
      }
      this.detail.name = null;
      this.detail.phone = null;
      this.detail.email = null;
      this.show_detail = true;
      this.show_detail_id = id;
      appliacation_items.splice(0,appliacation_items.length);

      var url = "/detail_application.php";
      var data = new FormData();
      var application = {
        location: location,
        id: id
      };
      data.append("data", JSON.stringify(application));

      myApi.post(url,data)
        .then(function (response) {
          if (!response.data.error) {
            if (location === 'offline' || location === 'order') {
              for (var i = 0; i < response.data.items.length; i++) {
                appliacation_items.push(response.data.items[i]);
              }
              this.detail.name = response.data.buyer.name;
              this.detail.phone = response.data.buyer.phone;
              this.detail.email = response.data.buyer.email;
              if (response.data.discount) {
                this.detail.discount = response.data.discount.discount;
                this.detail.promocode = response.data.discount.promocode;
              } else {
                this.detail.discount = false;
              }
            } else {
              for (var i = 0; i < response.data.items.length; i++) {
                appliacation_items.push(response.data.items[i]);
              }
            }
          } else {
            alert('Произошла ошиба загрузки  данных.')
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });

    },
    cancel_application: function (id,location,status) {
      var url = "/cancel_application.php";
      var data = new FormData();
      var application = {
        location: location,
        id: id,
        user_id: this.id,
        status: status
      };
      data.append("data", JSON.stringify(application));

      myApi.post(url,data)
        .then(function (response) {
          if (response.data.error === 0) {
            for (var i = 0; i < applications.length; i++) {
              if (applications[i].id === id) {
                applications[i].status = response.data.status;
              }
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted: function () {
    this.get_applications();
  }
}
</script>

<style lang="scss">
.order__control {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .btn-small {
    margin: 0 5px 0 0;
    &.btn-cancel {
      background-color: #FFF;
      color: #999;
      font-size: 12px;
      &:hover {
        color: #000;
      }
    }
  }
}
.orders__item {
  border: 1px silver solid;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  .order_status {
    position: relative;
    display: flex;
    flex-direction: row;justify-content: flex-start;
    align-items: center;
    padding-left: 26px;
    margin: 5px 0;

    svg {
      top: 0;
      left: 0;
    }
    &.accept {
      svg {color: green;}
    }
    &.cancel {
      svg {color: red;}
    }
    &.wait {
      svg {color: orange;}
    }
  }
}
.stock {
  .block {
    position: relative;
    .remnants {

      &__sum {
        margin: 10px 0;
      }
      &__items {
        .red {
          color: red;
        }
      }
    }

  }
  .btn-filter {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    svg {
      width: 20px;
      top: 3px;
      left: 5px;
    }
  }
}
</style>
