<template lang="html">
  <div class="book">
    <button class="btn-plus" @click="new_news" v-if="admin">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>
    <transition name="fade">
      <div class="edit_news" @click.self="show_edit = false" v-if="show_edit">
        <div class="edit_news__form">
          <input type="text" placeholder="Заголовок" v-model="edit.header">
          <quill-editor v-model="edit.description" :options="editorOption"></quill-editor>
          <button class="btn btn-small btn-save" @click="save_news">Сохранить</button>
        </div>
      </div>
    </transition>

    <transition name="fade">
      <div class="show_news" @click.self="show_news = false" v-if="show_news">
        <div class="show_news__content">
          <h2>{{ opened_news.header }}</h2>
          <div v-html="opened_news.description.replace(/(?:\r\n|\r|\n)/g, '<br />')"></div>
          <small>{{ opened_news.date }}</small>
        </div>
      </div>
    </transition>

    <div class="newss">
      <div class="news" :class="news.color" v-for="(news,index) in newss" v-bind:key="index">
        <div>
          {{ news.header }} <br> <small>{{ news.date }}</small>
        </div>
    <div class="news__control">
      <template v-if="admin">
        <button class="btn btn-small btn-edit" @click="edit_news(index)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
        </button>
        <button class="btn btn-small btn-remove" @click="remove_news(index)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
        </button>
      </template>
      <button class="btn btn-small" @click="open_news(index)">подробнее</button>
    </div>
</div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'

import dateFormat from 'dateformat'


import { quillEditor } from 'vue-quill-editor'


const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});



export default {
  props: ['id','level'],
  components: {
    quillEditor
  },
  data () {
    return {
      loading: 0,
      show_edit: false,
      show_news: false,
      opened_newss: [],
      newss: [],
      opened_news: {
        id: null,
        header: '',
        description: '',
        date: null
      },
      edit: {
        id: null,
        header: '',
        description: '',
      },
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            [{ 'header': 1 }, { 'header': 2 }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            [{ 'direction': 'rtl' }],
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            ['clean'],
            ['link', 'video']
          ],
          syntax: false,
        },
        placeholder: 'Текст'
      }
    }
  },
  computed: {
    admin: function() {
      return  this.level === 2 || this.level === 13?true:false;
    }
  },
  watch: {
    show_edit: function (val) {
      if (val) {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    },
    show_news: function (val) {
      if (val) {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    }
},
  methods: {
    open_news: function (index) {
      this.opened_news = this.newss[index];
      this.show_news = true;
    },
    new_news: function () {
      this.edit = {
        id: null,
        header: '',
        description: ''
      };
      this.show_edit = true;
    },
    edit_news: function (index) {
      this.edit = this.newss[index];
      this.show_edit = true;
    },
    remove_news: function (index) {
      var url = "/remove_news.php";
      var data = new FormData();
      var news = {
        id: this.newss[index].id
      }
      data.append("data", JSON.stringify(news));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            this.newss.splice(index,1);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    save_news: function () {
      console.log('asasdas');
      var url = "/edit_news.php";
      var data = new FormData();
      var news = this.edit;
      data.append("data", JSON.stringify(news));
      myApi.post(url, data)
        .then(function (response) {
          console.log('adasd');
          if (response.data.error === 0) {
            if (!this.edit.id) {
              this.edit.id = response.data.id;
              this.newss.push(this.edit);
              this.show_edit = false;
            } else this.show_edit = false;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_newss: function () {
      this.loading++;
      this.newss.splice(0,this.newss.length);
      var url = "/news.php";

      var data = new FormData();
      var user = {
        id: this.id
      }
      data.append("user", JSON.stringify(user));

      myApi.post(url,data)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            var time = new Date(response.data[i].date);
            var news = {
              id: response.data[i].id,
              header: response.data[i].header,
              description: response.data[i].description,
              date: dateFormat(time, "HH:MM:ss, dd.mm.yyyy")
            }
            this.newss.push(news);
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted () {
    this.get_newss();
  }
}
</script>

<style lang="scss">
.quill-editor {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  svg {
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
    height: auto;
    color: #005D7C;
  }
  .ql-toolbar.ql-snow {
    border: none;
    //border-bottom: 1px solid #005d7c;
  }
  .ql-container.ql-snow {
    border-color: #005d7c;
    border: none;
    font-size: 14px;
  }
  .ql-snow .ql-tooltip.ql-flip {
    left: 0 !important;
  }
}

.book {

  .newss {
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;

    .news {
      padding: 10px;
      margin: 5px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #eee;
      width: 100%;
      text-transform: uppercase;
      color: #005D7C;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &:hover {
        background-color: #eee;
      }

      &__control {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
      }

      .btn-small {
        width: 120px;
        height: 30px;
        margin: 5px 0 0 5px;
        &:disabled {
          background-color: silver;
        }
      }
      .btn-edit, .btn-remove {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        display: inline-block;
      }
      .btn-edit {
        svg {
          top: 1.5px;
          left: 6px;
          width: 20px;
        }
      }
      .btn-remove {
        svg {
          top: 2px;
          left: 5px;
          width: 20px;
        }
      }
    }
  }

  .show_news {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(00,00,00,0.5);
    z-index: 2;

    &__content {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      max-height: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      width: 640px;
      max-width: 100%;
      margin: 30px 10px;
      position: relative;

      &::-webkit-scrollbar-track {
      	border-radius: 5px;
      	background-color: #fff;
      }

      &::-webkit-scrollbar {
      	width: 8px;
      	background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
      	border-radius: 10px;
      	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      	background-color: #005d7c;
      }

      h2 {
        text-transform: uppercase;
        color: #005D7C;
        font-weight: 500;
        margin: 0 0 10px;
      }

      iframe {
        width: 100%;
        height: 300px;
      }
    }
  }

  .edit_news {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(00,00,00,0.5);
    z-index: 2;

    &__form {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      max-height: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      width: 640px;
      max-width: 100%;
      margin: 30px 10px;

      &::-webkit-scrollbar-track {
      	border-radius: 5px;
      	background-color: #fff;
      }

      &::-webkit-scrollbar {
      	width: 8px;
      	background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
      	border-radius: 10px;
      	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      	background-color: #005d7c;
      }


      input, textarea, select {
        display: block;
        width: 100%;
        border: 1px solid #005d7c;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      input {
        padding-left: 15px;
        text-transform: uppercase;
        color: #005D7C;
        font-weight: 500;
        margin: 0 0 10px;
        border: none;
        font-size: 24px;
      }
      textarea {
        height: 150px;
        padding: 5px;
      }

      .btn {
        margin: 0 5px 5px 0;
      }
      .btn-save {
        background-color: #005d7c;
        &:hover {
          background-color: #00BCF9;
        }
      }
    }
  }
}
</style>
