<template lang="html">
  <div class="book">
    <button class="btn-plus" @click="new_lesson">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>
    <transition name="fade">
      <div class="edit_lesson" @click.self="show_edit = false" v-if="show_edit">
        <div class="edit_lesson__form">
          Новое задание.
          <input type="text" placeholder="Заголовок" v-model="edit.header">
          <input type="text" placeholder="URL видео YouTube" v-model="edit.url">
          <textarea name="description" v-model="edit.description"></textarea>
          <div class="quests">
            <template v-for="quest in edit.questions">
              <div class="quest">
                <input type="text" placeholder="Вопрос" v-model="quest.quest">
                <div class="answer" v-for="answer in quest.answers">
                  <input class="answer__text" type="text" placeholder="Вариант ответа" v-model="answer.answer" :class="{true: quest.true === answer.id}">
                  <input class="answer__true" type="radio" :name="quest.id" :value="answer.id" v-model="quest.true">
                </div>
                <button @click="add_answer(quest.id)">+</button>
              </div>
            </template>
            <button @click="add_question">+</button>
            <button @click="save_lesson">Сохранюшки</button>
          </div>
        </div>
      </div>
    </transition>
    <div class="lessons">
      <div class="lesson" v-for="lesson in lessons">
        {{ lesson.header }}
        <div>{{ lesson.date }}</div>  
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

export default {
  data () {
    return {
      loading: 0,
      show_edit: false,
      lessons: [],
      edit: {
        header: '',
        url: '',
        description: '',
        questions: [{id:1, question:'', true:1, answers:[{id:1, answer:''}]}]
      }
    }
  },
  methods: {
    new_lesson: function () {
      this.show_edit = true;
    },
    add_answer: function (id) {
      var new_answer = {
        id: null,
        answer: '',
      }
      for (var i = 0; i < this.edit.questions.length; i++) {
        if (this.edit.questions[i].id === id) {
          new_answer.id = this.edit.questions[i].answers[this.edit.questions[i].answers.length - 1].id + 1;
          this.edit.questions[i].answers.push(new_answer);
        }
      }
    },
    add_question: function () {
      var new_question = {
        id:null,
        question:'',
        true: 1,
        answers:[{id:1, answer:'',true:1}]
      }
      new_question.id = this.edit.questions[this.edit.questions.length - 1].id + 1;
      this.edit.questions.push(new_question);
    },
    save_lesson: function () {
      var url = "/edit_lesson.php";
      var data = new FormData();
      var lesson = this.edit;
      data.append("data", JSON.stringify(lesson));
      myApi.post(url, data)
        .then(function (response) {
          console.log("SAVE LESSON");
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_lessons: function () {
      this.loading++;
      this.lessons.splice(0,this.lessons.length);
      var url = "/lessons.php";
      myApi.post(url)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            var lesson = {
              id: response.data[i].id,
              header: response.data[i].header,
              url: response.data[i].url,
              description: response.data[i].description,
              questions: JSON.parse(response.data[i].questions),
              date: response.data[i].date
            }
            this.lessons.push(lesson);
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted () {
    this.get_lessons();
  }
}
</script>

<style lang="scss">
.book {

  .edit_lesson {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(00,00,00,0.5);

    &__form {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      max-height: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      width: 640px;
      max-width: 100%;
      margin: 0 10px;
      input, textarea {
        display: block;
        width: 100%;
        border: 1px solid blue;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      input {
        padding-left: 5px;
      }
      textarea {
        height: 150px;
        padding: 5px;
      }
      .quest {
        border: 1px solid black;
        padding: 3px;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      .answer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input {
          &.true {
            border-color: green;
          }
        }

        &__text {
          width: 100%;
        }

        &__true {
          width: 20px;
        }
      }
    }
  }
}
</style>
