<template lang="html">
  <div class="media">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Медиафайлы</h1>
          <div class="media__nav">
            <button class="btn btn-small" :class="{active: open === 'photos'}" @click="open = 'photos'">фотографии</button>
            <button class="btn btn-small" :class="{active: open === 'videos'}" @click="open = 'videos'">видео</button>
          </div>
          <div v-if="open === 'photos'">
            <div class="upload_photos">

              <input type="file" multiple  @change="change_images"/>
              <div class="upload_photos__item" v-for="(photo, index) in new_photos">
                <div class="upload_photos__photo">
                  <button class="btn-remove" @click="remove_new_photo(index)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
                  </button>
                  <img :src="photo.url" alt="">
                </div>
                <div class="upload_photos__hashtags">
                  <button class="hashtag ping" @click="set_hashtag(index, 0)" v-bind:class="{ active: photo.hashtags[0] }">#праздники</button>
                  <button class="hashtag purple" @click="set_hashtag(index, 1)" v-bind:class="{ active: photo.hashtags[1] }">#выписки из роддома</button>
                  <button class="hashtag green" @click="set_hashtag(index, 2)" v-bind:class="{ active: photo.hashtags[2] }">#розыгрыши</button>
                  <button class="hashtag orange" @click="set_hashtag(index, 3)" v-bind:class="{ active: photo.hashtags[3] }">#для тела и волос</button>
                  <button class="hashtag blue" @click="set_hashtag(index, 4)" v-bind:class="{ active: photo.hashtags[4] }">#бодиарт</button>
                  <button class="hashtag limegreen" @click="set_hashtag(index, 5)" v-bind:class="{ active: photo.hashtags[5] }">#творчество</button>
                  <button class="hashtag yellow" @click="set_hashtag(index, 6)" v-bind:class="{ active: photo.hashtags[6] }">#свадьбы</button>
                </div>
              </div>
              <button class="btn-small btn-blue" @click="upload_photos" v-if="new_photos.length">Загрузить</button>

            </div>
            <div class="photos">
              <!-- <div class="photos__nav">
                <button class="btn-blue btn-small active">Все</button>
                <button class="btn-blue btn-small">Мои</button>
              </div> -->
              <div class="photos__list">
                <div class="photos__thumb" v-for="photo in photos" v-bind:class="{ show: photo.status == 1 }">
                  <img :src="th_url + photo.name" :alt="photo.name">
                  <div v-if="level === 2" class="photos__edit">
                    <button @click="edit_photo('set_status', photo.id, photo.name)">
                      <svg v-if="photo.status == 1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                      <svg v-else xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                    </button>
                    <button @click="edit_photo('remove', photo.id, photo.name)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="open === 'videos'">
            <Videos v-bind:level="level":id="id"/>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'

import Videos from './Media/Videos.vue'


var items = [];
var appliacation_items = []
const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

const myApiFile = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Content-Type': 'multipart/form-data'
  }
});

var photos = [];
var new_photos = [];

export default {
  props: ['id','level'],
  components: {
    Videos
  },
  data () {
    return {
      photos: photos,
      new_photos: new_photos,
      active: false,
      open: 'photos'
    }
  },
  computed: {
    th_url: function() {
      return config.API_URL + 'media/photos/th_';
    }
  },
  methods: {
    change_images: function(e) {
      var files = e.target.files;
      for (var i = 0; i < files.length; i++) {
        if(files[i].type.match(/image.*/)) {
          this.get_images(files[i]);
        }
      }
    },
    get_images: function(file) {
      // Load the image
      var reader = new FileReader();
      var type =  file.type;
      reader.onload = function (readerEvent) {
        var image = new Image();
        image.onload = function (imageEvent) {

          // Resize the image
          var canvas = document.createElement('canvas'),
            max_size = 600,
            width = image.width,
            height = image.height;
          if (width > height) {
            if (width > max_size) {
              height *= max_size / width;
              width = max_size;
            }
          } else {
            if (height > max_size) {
              width *= max_size / height;
              height = max_size;
            }
          }
          canvas.width = width;
          canvas.height = height;
          canvas.getContext('2d').drawImage(image, 0, 0, width, height);
          var photo = {
            url : canvas.toDataURL(type),
            type: type,
            hashtags: [0,0,0,0,0,0,0],
          }
          new_photos.push(photo);

        }.bind(this)
        image.src = readerEvent.target.result;
      }.bind(this)
      reader.readAsDataURL(file);

    },
    upload_photos: function() {
      this.upload_photo(new_photos[0], 0);
    },
    upload_photo: function(photo, index) {
      var blobBin = atob(photo.url.split(',')[1]);
      var array = [];
      for(var i = 0; i < blobBin.length; i++) {
        array.push(blobBin.charCodeAt(i));
      }
      var type = photo.type;
      var file = new Blob([new Uint8Array(array)], {type: type});

      var fd = new FormData();
      var photo_info = {
        hashtags : photo.hashtags,
        user_id: this.id,
        level: this.level
      }

      fd.append("image", file); // blob file
      fd.append("info", JSON.stringify(photo_info)); // blob file

      var url = 'upload_photo.php';
      myApiFile.post(url,fd)
        .then(function (response) {
          if (response.data.error === 0) new_photos.splice(index, 1);
          var new_photo = {
            id: response.data.id,
            name: response.data.name,
            status: response.data.status
          }
          photos.push(new_photo);
          if (new_photos.length > 0) this.upload_photo(new_photos[0], 0);
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    set_hashtag: function(index, hashtag) {
      if (this.new_photos[index].hashtags[hashtag] === 1) {
        var new_val = 0;
      } else {
        var new_val = 1;
      }
      this.new_photos[index].hashtags.splice(hashtag, 1, new_val);
    },
    remove_new_photo: function(index) {
      this.new_photos.splice(index, 1);
    },
    edit_photo: function(action, id, name) {
      var url = "/edit_photo.php";

      var data = new FormData();
      var options = {
        id: id,
        action: action,
        name: name
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {

            for (var i = 0; i < photos.length; i++) {
              if (photos[i].id === id) {

                if (action === 'remove') {
                  photos.splice(i, 1);
                }

                if (action === 'set_status') {
                  if (photos[i].status == 0) photos[i].status = 1;
                  else photos[i].status = 0;
                }

              }
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });


    },
    get_photos: function() {
      photos.splice(0,photos.length);
      var url = "/photos.php";

      var data = new FormData();
      var options = {
        user: this.level === 2 || this.level === 13?'partner':this.id
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url, data)
        .then(function (response) {
          photos.splice(0,photos.length);
          for (var i = 0; i < response.data.length; i++) {
            photos.push(response.data[i]);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted() {
    this.get_photos();
  }
}
</script>

<style lang="scss">
.media {
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
    .btn {
      margin-right: 5px;
    }
  }
}
.photos {

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .btn-blue {
      margin: 0 5px 0 0;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__thumb {
    border: 1px solid silver;
    margin: 5px;
    padding: 0;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    background-color: #000;
    cursor: pointer;

    img {
      width: 80px;
      height: 80px;
      margin: 0;
      object-fit: cover;
      opacity: 1;
      transition: all 0.2s ease;
    }

    &.show {
      border: 1px solid #005d7c;
    }
    &:hover {
      img {
        opacity: 0.6;
      }
      .photos__edit {
        display: flex;
      }
    }

  }

  &__edit {

    display: none;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 5px;
    width: 100%;

    button {
      position: relative;
      width: 20px;
      height: 20px;
      border: none;
      background-color: transparent;
      svg {
        width: 20px;
        top: 0;
        left: 0;
        color: #fff;
      }
      &:hover {
        svg {
          color: #ddd;
        }
      }
    }
  }
}


.upload_photos {
  margin-bottom: 30px;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0;
  }

  &__photo {
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    .btn-remove {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      border: none;
      width: 24px;
      height: 24px;
      background-color: transparent;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
      }
      &:hover {
        svg {
          color: red;
        }
      }
    }
  }

  &__hashtags {
    margin: 0 10px;

    .hashtag {
      color: #ffffff;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 22px;
      border-radius: 3px;
      border: 0;
      padding: 0 15px;
      transition: all 0.3s ease;
      margin: 0;
      background-color: rgb(166, 166, 166);
      &.active {
        &.ping {
          background-color: #e73f5a;
        }
        &.yellow {
          background-color: #ded601;
        }
        &.limegreen {
          background-color: #1fa874;
        }
        &.blue {
          background-color: #3a9bc7;
        }
        &.orange {
          background-color: #f67234;
        }
        &.green {
          background-color: #5fda44;
        }
        &.purple {
          background-color: #d40285;
        }
      }
    }
  }
}

</style>
