<template lang="html">
  <div class="stock">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Заказы с сайта</h1>
          <div class="block applications">
            <template v-if="loading">Загрузка</template>
            <small v-if="applications.length === 0">Заказов нет.</small>
            <template v-for="application in applications">
              <div class="orders__item" :id="'application_id_' + application.id">
                <div>{{ application.date }}</div>
                <div v-if="show_detail && show_detail_id === application.id">
                  <div>
                    <div v-if="detail.name">Имя: {{ detail.name }}</div>
                    <div v-if="detail.phone">Номер телефона: {{ detail.phone }}</div>
                    <div v-if="detail.email">Email: {{ detail.email }}</div>
                    <div>Детали заказа:</div>
                    <template v-for="items in detail.items">
                      <div><small>{{ items.name }} - {{ items.quantity }}</small></div>
                    </template>
                    <div v-if="detail.discount">
                      <small>Скидка - {{ detail.discount }} руб.</small>
                      <small>По промокоду - {{ detail.promocode }}</small>
                    </div>
                  </div>
                </div>
                <div>
                  <button v-on:click="detail_application(application.id)">Детали</button>
                  <button v-on:click="accept_application(application.id)">Принять</button>
                  <button v-on:click="cancel_application(application.id)">Отмена</button></div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'

var appliacation_items = []
const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

var applications = [];

export default {
  name: 'Stock',
  props: ['id'],
  data() {
    return {
      applications: applications,
      loading: 0,
      show_detail: false,
      show_detail_id: null,
      detail: {
        items: appliacation_items,
        name: '',
        phone: '',
        email: '',
        discount: false,
        promocode: ''
      }
    }
  },
  methods: {
    get_applications: function() {
      this.loading++;
      applications.splice(0,applications.length);
      var url = "/applications.php";
      var data = new FormData();
      var options = {
        location: 'order',
        user_id: this.id
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            applications.push(response.data[i]);
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    accept_application: function(id) {
      this.loading++;
      var url = "/accept_application.php";
      var data = new FormData();
      var application = {
        location: 'order',
        id: id
      };
      data.append("data", JSON.stringify(application));

      myApi.post(url,data)
        .then(function (response) {
          if (response.data.error === 0) {
            this.loading--;
            $('#application_id_' + id).slideUp(200);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
          this.loading--;
        });
    },
    cancel_application: function(id) {
      this.loading++;
      var url = "/cancel_application.php";
      var data = new FormData();
      var application = {
        id: id
      };
      data.append("data", JSON.stringify(application));

      myApi.post(url,data)
        .then(function (response) {
          if (response.data.error === 0) {
            this.loading--;
            $('#application_id_' + id).slideUp(200);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
          this.loading--;
        });
    },
    detail_application: function(id) {
      if (this.show_detail === true && this.show_detail_id === id) {
        this.show_detail = false;
        return;
      }
      this.show_detail = true;
      this.show_detail_id = id;
      appliacation_items.splice(0,appliacation_items.length);

      var url = "/detail_application.php";
      var data = new FormData();
      var application = {
        location: 'order',
        id: id
      };
      data.append("data", JSON.stringify(application));

      myApi.post(url,data)
        .then(function (response) {
          if (!response.data.error) {
            for (var i = 0; i < response.data.items.length; i++) {
              appliacation_items.push(response.data.items[i]);
            }
            this.detail.name = response.data.buyer.name;
            this.detail.phone = response.data.buyer.phone;
            this.detail.email = response.data.buyer.email;
            if (response.data.discount) {
              this.detail.discount = response.data.discount.discount;
              this.detail.promocode = response.data.discount.promocode;
            } else {
              this.detail.discount = false;
            }
          } else {
            alert('Произошла ошиба загрузки  данных.')
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });




    }
  },
  mounted: function () {
    this.get_applications();
  }
}
</script>

<style lang="scss">
.orders__item {
  border: 1px silver solid;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
}
.stock {
  .block {
    position: relative;
    .remnants {

      &__sum {
        margin: 10px 0;
      }
      &__items {
        .red {
          color: red;
        }
      }
    }

  }
  .btn-filter {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    svg {
      width: 20px;
      top: 3px;
      left: 5px;
    }
  }
}
</style>
