<template lang="html">
  <div class="partners">
    <button class="btn btn-small btn-invite" @click="invite" v-if="admin">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
      Пригласить</button>
    <transition name="fade">
      <div class="invite" v-if="show_invite" @click.self="show_invite = false">
        <div class="invite__form">
          <input type="text" v-model="email" placeholder="Email">
          <button class="btn btn-small" @click="send_invite">отправить приглашение</button>
          <div>
            <h2>{{ code }}</h2>
          </div>
        </div>
      </div>

      <div class="partner" v-if="show_cart" @click.self="show_cart = false">
        <div class="partner__info">
          <h1>{{ name }}</h1>
          <h2>{{ city }}</h2>
          <div class="partner__stock" v-if="stockman">
            <b>Склад:</b>
            <div class="remnants__sum">
              Всего на кладе: {{ sum_items }}
            </div>
            <div class="remnants__items">

              <template v-for="category in categories">
                <div class="partner__stock_category">
                  {{ category.name }}
                  <template v-for="item in items">
                    <div class="partner__stock_item" v-if="item.category === category.id" v-bind:class="{ red: item.quantity < 6 }">
                      <small>{{ item.name }} - {{ item.quantity }}</small>
                    </div>
                  </template>
                </div>
              </template>
            </div>
          </div>
          <p v-html="story"></p>
        </div>
      </div>
    </transition>
    <div class="cards">


      <div class="card" v-for="(partner, index) in partners" @click.capture="show_card($event)">
        <img v-if="partner.photo" :src="url_photo + partner.photo">
        <img v-else src="../images/photo.png" class="nophoto">
        <img v-if="partner.level === 4" class="icon-holivozd" src="../images/holivozd.png" alt="">
        <img v-if="partner.medal === 1" class="icon-medal" src="../images/1th.png" alt="1">
        <img v-if="partner.medal === 2" class="icon-medal" src="../images/2th.png" alt="2">
        <img v-if="partner.medal === 3" class="icon-medal" src="../images/3th.png" alt="3">
        <div title="HoliCash" class="bonuses">
          <img class="icon-holicash" src="../images/holicash.png" alt="">
          <span>{{ partner.bonuses }}</span>
        </div>
        <div class="card-title">
          <a class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
              {{ partner.name }}
              <small>{{ partner.city }}</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <div>{{ partner.phone }}</div>

            <div class="socials">
              <button v-if="partner.social.telegram" title="Telegram" @click.prevent="go_to_url(partner.social.telegram)">
                <img src="../images/tlg.png" alt="Телеграм">
              </button>
              <button v-if="partner.social.vk" title="ВКонаткте" @click.prevent="go_to_url(partner.social.vk)">
                <img src="../images/vk.png" alt="ВКонаткте">
              </button>
              <button v-if="partner.social.fb" title="Facebook" @click.prevent="go_to_url(partner.social.fb)">
                <img src="../images/fb.png" alt="Facebook">
              </button>
              <button v-if="partner.social.instagram" title="Instagram" @click.prevent="go_to_url(partner.social.instagram)">
                <img src="../images/inst.png" alt="Instagram">
              </button>
              <button v-if="partner.social.ok" title="Одноклассники" @click.prevent="go_to_url(partner.social.ok)">
                <img src="../images/ok.png" alt="Одноклассники">
              </button>
              <button v-if="partner.social.whatsapp" title="WhatsApp" @click.prevent="go_to_url(partner.social.whatsapp)">
                <img src="../images/wa.png" alt="WhatsApp">
              </button>
            </div>

            <template v-if="admin">
              <div class="edit_bonuses_wrap">
                <button class="edit_bonuses" @click="edit_bonuses(Math.abs(Number(add_bonuses))*(-1), index)">-</button>
                <input class="edit_bonuses" type="text" name="" id="" v-model="add_bonuses">
                <button class="edit_bonuses" @click="edit_bonuses(Math.abs(Number(add_bonuses)), index)">+</button>
              </div>
            </template>


          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn btn-small" @click.self.prevent="show_partner(partner.id)">Узнать больше</a>
            </div>
          </div>
        </div>
      </div>

  </div>


 <div id="map_canvas" style="width:100%; height:350px;"></div>

    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import axios from 'axios'
import config from '../config.js'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

var partneres = [];

var zindex = 10;






var markers = [];

function createGoogleMap() {
  if (window.google) {
    create_map();
  } else {
    $.getScript('https://maps.googleapis.com/maps/api/js?key=AIzaSyBl6PulouFFCGgV2PhEvFFx_Zd5TsgNiec').then(() => {
      create_map();
    });
  }
}

function create_map() {
    var myLatlng = new google.maps.LatLng(58.174205, 94.056186);
    var mapOptions = {
        center: myLatlng,
        zoom: 3,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        styles:
          [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    var image = {
      url: 'http://my.holiday-paint.ru/map-marker.png'
    };

    for (var i = 0; i < partneres.length; i++) {
      coordinates = partneres[i].coordinates.split(' ');
      var lat = Number(coordinates[0]);
      var lng = Number(coordinates[1]);
      markers[i] = new google.maps.Marker({
          position: {lat: lat, lng: lng},
          map: map,
          title: partneres[i].name,
          //animation: google.maps.Animation.BOUNCE,
          icon: image
      });
    }
}
var coordinates;


var items = [];
var categories = [];

export default {
  name: "Partners",
  props: ['id','level'],
  data() {
    return {
      partners: partneres,
      show_invite: false,
      show_cart: false,
      add_bonuses: 0,
      name: '',
      city: '',
      story: '',
      email: '',
      code: '',
      showed_id: null,
      categories: categories,
      items: items
    }
  },
  watch: {
    show_cart: function(val) {      
      if (val) {
        document.body.style.overflowY = "hidden";
      } else {
        document.body.style.overflowY = "auto";
      }
    }
  },
  computed: {
    stockman: function () {
      if (this.admin || this.level === 3) return true;
      else return false;
    },
    admin: function () {
      if ((this.level === 2) || (this.level === 13)) return true;
      else return false;
    },
    url_photo: function() {
      return config.API_URL + 'users/';
    },
    sum_items: function() {
      var amt = 0;
      for (var i = 0; i < this.items.length; i++) {
        amt += this.items[i].quantity;
      }
      return amt;
    }
  },
  methods: {
    get_stok: function(id) {
      items.splice(0,items.length);
      this.loading++;
      var url = "/stock.php";
      var data = new FormData();
      var user = {
        id: id
      };
      data.append("data", JSON.stringify(user));

      myApi.post(url,data)
        .then(function (response) {
          if (!response.data.error) {

            for (var i = 0; i < response.data.categories.length; i++) {
              categories.push(response.data.categories[i]);
            }
            if (response.data.items) {
              for (var i = 0; i < response.data.items.length; i++) {
                items.push(response.data.items[i]);
              }
            }
            
          } else {
            alert('Произошла ошиба загрузки  данных.')
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    edit_bonuses: function (val, index) {
      var url = "/edit_bonuses.php";

      var data = new FormData();
      var options = {
        id: partneres[index].id,
        val: val
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          if (response.data.error === 0) {
            console.log('All good');
            partneres[index].bonuses += val;
            this.add_bonuses = 0;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });


    },
    invite: function () {
      this.email = '';
      this.code = '';
      this.show_invite = true;
    },
    send_invite: function () {
      var url = "/invite.php";

      var data = new FormData();
      var options = {
        email: this.email
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          if (response.data.error === 0) {
            this.code = response.data.code;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    show_partner: function(id) {
      console.log(id);
      this.get_stok(id);
      for (var i = 0; i < this.partners.length; i++) {
        if (this.partners[i].id === id) {
          this.name = this.partners[i].name;
          this.story = this.partners[i].story.replace(/(?:\r\n|\r|\n)/g, '<br />');
          this.city = this.partners[i].city;
          this.show_cart = true;
        }
      }
    },
    go_to_url: function(url) {
      window.open(url,"_blank");
    },
    show_card: function(event) {

        if (!$(event.target).closest(".edit_bonuses").length) {
          var element = event.currentTarget;

          var isShowing = false;
          if ($(element).hasClass("show")) {
            isShowing = true
          }
          if ($("div.cards").hasClass("showing")) {
            $("div.card.show").removeClass("show");
            if (isShowing) {
              $("div.cards").removeClass("showing");
            } else {
              $(element).css({zIndex: zindex}).addClass("show");
            }
            zindex++;
          } else {
            $("div.cards").addClass("showing");
            $(element).css({zIndex:zindex}).addClass("show");
            zindex++;
          }
        }
    },
    get_partners: function() {
      var url = "/partners.php";

      myApi.post(url)
        .then(function (response) {
          partneres.splice(0,partneres.length);
          for (var i = 0; i < response.data.length; i++) {
            if (response.data[i].social)
            response.data[i].social =  JSON.parse(response.data[i].social);

            if (response.data[i].phone) {
              var partner_phone =  response.data[i].phone;
              var re = /(?:([\d]{1,}?))??(?:([\d]{1,3}?))??(?:([\d]{1,3}?))??(?:([\d]{2}))??([\d]{2})$/;
              var formatted = partner_phone.replace( re, function( all, a, b, c, d, e ){
                return "8" + ( a ? a + " " : "(" ) + ( b ? b + ") " : "" ) + ( c ? c + "-" : "" ) + ( d ? d + "-" : "" ) + e;
              });
              response.data[i].phone = formatted;
            }

            partneres.push(response.data[i]);
          }
          // console.log(partneres);
          createGoogleMap();
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted() {
    this.get_partners();
  }
}
</script>

<style lang="scss">
.partners {
  .edit_bonuses_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    button {
      width: 25px;
      margin: 0 5px;
      border-radius: 3px;
      border: none;
      color: #FFF;
      background-color: #00BCF9;
      transition: all 0.2s ease;
      &:hover {
        background-color: #005d7c;
      }
    }
    input {
      border-radius: 3px;
      border: none;
      color: #FFF;
      background-color: #00BCF9;
      padding: 3px 10px;
      width: 100%;
    }
  }
  .btn-invite {
    position: relative;
    padding-left: 40px;
    margin-left: 20px;
    svg {
      top: 5px;
      left: 10px;
    }
  }

  .invite {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;

    &__form {
      position: relative;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      input {
        width: 100%;
        margin: 5px 0;
        border-radius: 5px;
        padding: 0 5px;
        border: 1px solid #005d7c;
        line-height: 2;
      }
      .btn {
        width: 100%;
        margin: 10px 0;
      }
      h2 {
        text-align: center;
      }
    }
  }

  .partner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__stock {
      &_category {
        margin: 5px 0;
        color: #00BCF9;
      }
      &_item {
        color: #444444;
      }
    }

    &__info {
      max-width: 90%;
      height: auto;
      max-height: 95%;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar-track {
      	border-radius: 5px;
      	background-color: #fff;
      }

      &::-webkit-scrollbar {
      	width: 8px;
      	background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
      	border-radius: 10px;
      	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      	background-color: #005d7c;
      }


      h1 {
        margin: 0;
      }
      h2 {
        margin: 0;
      }
      p {
        max-width: 39ch;
      }
    }
  }




  .map {
    width: 100%;
    height: 400px;
  }
}



a.btn {
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: lighten(#0096a0,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(#0096a0,2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.card {
  background: #fff;
  //display: inline-block;
  margin: 8px 30px 8px 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  cursor: pointer;

  .icon-holivozd {
    width: 80px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .icon-medal {
    width: 80px;
    height: auto;
    position: absolute;
    bottom: 80px;
    right: 0;
  }

  .bonuses {
    position: absolute;
    bottom: 80px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #00BCF9;
    font-weight: 600;
    margin: 0 0 5px 0;
    img {
      width: 30px;
      height: auto;
      margin: 0 5px 0 0;
    }
  }

  img {
    width: 250px;
    height: 250px;
    object-fit: cover;

  }

  div.card-title {
    background: #fff;
    padding: 6px 15px 6px;
    position: relative;
    z-index: 0;

    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;

      span {
        background: #fff;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }

      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;

      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }

  div.card-description {
    padding: 0 15px 0;
    position: relative;
    font-size: 14px;
    .socials {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 10px 0;
      button {
        margin: 0;
        padding: 0;
        position: relative;
        width: 26px;
        height: 26px;
        border: none;
        background-color: #FFF;
        transition: all 0.2s ease;

        &:hover {
          opacity: 0.7;
        }

        img {
          width: 26px;
          height: auto;
        }
      }
    }
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }

  div.card-flap {
    background: darken(#fff,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }

}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch  div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    a.toggle-info {
      background: #ff6666 !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: #fff;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}


</style>
