<template lang="html">
  <div class="promocodes">
    <button class="btn-plus" @click="add_promocode">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <transition name="fade">
            <div class="edit_promocode" v-if="edit_promocode_show" @click.self="edit_promocode_show = false">
              <div class="edit_promocode__modal">
                <input type="text" class="name" v-model="detail.name">
                <input type="text" class="code" v-model="detail.code" readonly>
                <div class="promocodes__config">
                  <div class="data">
                    <div>
                      <button class="btn btn-small" :class="{active: detail.groupe === 'all'}" @click="detail.groupe = 'all'">Все</button>
                      <button class="btn btn-small" :class="{active: detail.groupe === 'category'}" @click="detail.groupe = 'category'">Группа</button>
                      <button class="btn btn-small" :class="{active: detail.groupe === 'good'}" @click="detail.groupe = 'good'">Товар</button>
                    </div>
                    <div>
                      <select v-if="detail.groupe === 'category'" v-model="detail.category">
                        <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                      </select>
                      <select v-if="detail.groupe === 'good'" v-model="detail.good">
                        <option v-for="good in goods" :value="good.id">{{ good.name }}</option>
                      </select>
                      <span v-if="detail.groupe === 'all'">Скидка на все товары</span>
                    </div>
                  </div>
                  <div class="data">
                    <div><input type="text" placeholder="Сумма скидки" v-model="detail.sum"></div>
                    <div>
                      <button class="btn btn-small" :class="{active: detail.type === 'procent'}" @click="detail.type = 'procent'">Процентов</button>
                      <button class="btn btn-small" :class="{active: detail.type === 'rub'}" @click="detail.type = 'rub'">Рублей</button>
                    </div>
                  </div>
                  <div class="data">
                    <div>Лимит использования</div>
                    <div><input type="text" placeholder="Лимит использования" v-model="detail.limit"></div>
                  </div>
                  <div class="data">
                    <div>Окончание диействия</div>
                    <div><input type="date" v-model="detail.finish"></div>
                  </div>
                </div>
                <button class="btn btn-small" @click="save_promocode">Сохранить</button>
              </div>
            </div>
          </transition>
          <div class="promocodes__list">
            <div class="promocodes__item" v-for="promocode in promocodes">
              <div><b>{{ promocode.name }}</b></div>
              <div class="code">{{ promocode.code }}</div>
              <div class="promocodes__buttons">
                <button class="btn btn-small" @click="edit_promocode(promocode.id)">Изменить</button>
                <button class="btn btn-small" @click="remove_promocode(promocode.id)">Уничтожить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});


function formatDate(date) {
  if (date) {
    var dd = date.getDate();
    if (dd < 10) dd = '0' + dd;
    var mm = date.getMonth() + 1;
    if (mm < 10) mm = '0' + mm;
    var yy = date.getFullYear() % 100;
    if (yy < 10) yy = '0' + yy;
    return dd + '.' + mm + '.' + yy;
  } else return '';
}

var promocodes = [];
var categories = [];
var goods = [];

export default {
  name: 'Promocodes',
  props: ['id'],
  data() {
    return {
      promocodes: promocodes,
      loading: 0,
      edit_promocode_show: false,
      categories: categories,
      goods: goods,
      detail: {
        id: null,
        name: '',
        code: '',
        groupe: 'all',
        type: 'procent',
        sum: null,
        good: null,
        category: null,
        limit: null,
        finish: null
      }
    }
  },
  methods: {
    add_promocode: function() {
      this.detail.id = null;
      this.detail.name = 'Описание';
      this.detail.code = Math.random().toString(36).slice(2, 2 + Math.max(1, Math.min(6, 10)));
      this.detail.groupe = 'all';
      this.detail.type = 'procent';
      this.detail.sum = null;
      this.detail.good = null;
      this.detail.category = null;
      this.detail.limit = null;
      this.detail.finish = null;

      this.edit_promocode_show = true;

    },
    edit_promocode: function(id) {
      for (var i = 0; i < promocodes.length; i++) {
        if (promocodes[i].id == id) {
          this.detail.id = promocodes[i].id;
          this.detail.name = promocodes[i].name;
          this.detail.code = promocodes[i].code;
          this.detail.groupe = promocodes[i].groupe;
          this.detail.type = promocodes[i].type;
          this.detail.sum = promocodes[i].sum;
          this.detail.good = promocodes[i].good;
          this.detail.category = promocodes[i].category;
          this.detail.limit = promocodes[i].limit;
          this.detail.finish = promocodes[i].finish;
        }
      }
      this.edit_promocode_show = true;
    },
    remove_promocode: function(id) {
      var url = "/remove_promocode.php";
      var data = new FormData();
      var promocode = {
        id: id
      };
      data.append("data", JSON.stringify(promocode));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            for (var i = 0; i < promocodes.length; i++) {
              if (promocodes[i].id === id) {
                promocodes.splice(i,1);
              }
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    save_promocode: function() {
      var url = "/edit_promocode.php";
      var data = new FormData();
      var promocode = this.detail;
      data.append("data", JSON.stringify(promocode));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            if (this.detail.id) {
              for (var i = 0; i < promocodes.length; i++) {
                if (promocodes[i].id == this.detail.id) {
                  promocodes[i].name = this.detail.name;
                  promocodes[i].groupe = this.detail.groupe;
                  promocodes[i].type = this.detail.type;
                  promocodes[i].sum = this.detail.sum;
                  promocodes[i].good = this.detail.good;
                  promocodes[i].category = this.detail.category;
                  promocodes[i].limit = this.detail.limit;
                  promocodes[i].finish = this.detail.finish;
                }
              }
            } else {
              console.log('add');
              var new_promocode = {
                id: response.data.id,
                name: this.detail.name,
                code: this.detail.code,
                groupe: this.detail.groupe,
                type: this.detail.type,
                sum: this.detail.sum,
                good: this.detail.good,
                category: this.detail.category,
                limit: this.detail.limit,
                finish: this.detail.finish
              }
              promocodes.push(new_promocode);
            }
            this.edit_promocode_show = false;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_promocodes: function() {
      this.loading++;
      promocodes.splice(0,promocodes.length);
      var url = "/promocodes.php";
      myApi.post(url)
        .then(function (response) {

          for (var i = 0; i < response.data.length; i++) {
            var detail = JSON.parse(response.data[i].detail);
            var promocode = {
              id: response.data[i].id,
              name: response.data[i].name,
              code: response.data[i].code,
              groupe: detail.groupe,
              type: detail.type,
              sum: detail.sum,
              good: detail.good,
              category: detail.category,
              limit: detail.limit,
              finish: detail.finish
            }

            promocodes.push(promocode);
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_categories: function() {
      var url = "/categories.php";
      myApi.post(url)
        .then(function (response) {
          categories.splice(0,categories.length);
          for (var i = 0; i < response.data.length; i++) {
            categories.push(response.data[i]);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_goods: function() {
      goods.splice(0,goods.length);
      var url = "/goods.php";
      var data = new FormData();
      var filter = {
        category: 0
      };
      data.append("data", JSON.stringify(filter));

      myApi.post(url,data)
        .then(function (response) {
          goods.splice(0,goods.length);
          for (var i = 0; i < response.data.length; i++) {
            goods.push(response.data[i]);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted: function () {
    this.get_promocodes();
    this.get_categories();
    this.get_goods();
  }
}
</script>

<style lang="scss">
.promocodes {


  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .btn {
      margin-right: 5px;
      font-size: 14px;
      line-height: 22px;
      border-radius: 3px;
    }
  }

  &__item {
    margin: 15px 0;
    .code {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      color: #005d7c;
      text-transform: uppercase;
      margin: 0;
      border: none;
    }
  }


  .edit_promocode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__modal {
      width: 600px;
      max-width: 100%;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px;

      input {
        width: 100%;
        margin-bottom: 5px;
        border: 1px solid silver;
      }

      .name {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: #005d7c;
        margin: 5px 0;
        text-align: center;
      }

      .code {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        color: #005d7c;
        text-transform: uppercase;
        margin: 5px 0;
        text-align: center;
        border: none;
      }

      .data {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 0;
        height: 35px;
        div {
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          input {
            height: 32px;
            text-align: 14px;
            padding: 0 8px;
          }
          select {
            height: 32px;
            border: 1px silver solid;
            width: 100%;
          }
          .btn {
            line-height: 30px;
            font-size: 14px;
          }
        }
      }

    }

  }
}
</style>
