<template lang="html">
  <div class="promo">
    <button class="btn-plus" @click="add_promo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <transition name="fade">
            <div class="edit_promo" v-if="edit_promo_show" @click.self="edit_promo_show = false">
              <div class="edit_promo__modal">
                <div class="edit_promo__header">
                  <input type="text" class="main_header" v-model="detail.main_header">
                  <input type="text" class="sub_header" v-model="detail.sub_header">
                </div>
                <div class="edit_promo__content">
                  <div>
                    <input type="text" class="promo_header" v-model="detail.header">
                    <textarea class="promo_description" v-model="detail.description"></textarea>
                    <div class="data">
                      <div>Промокод</div>
                      <div><input type="text" class="promocode" v-model="detail.code"></div>
                    </div>
                    <div class="data">
                      <div>Старт акции</div>
                      <div><input type="date" v-model="detail.start"></div>
                    </div>
                    <div class="data">
                      <div>Конец акции</div>
                      <div><input type="date" v-model="detail.finish"></div>
                    </div>
                    <button class="btn btn-small" @click="save_promo">сохранить</button>
                  </div>
                  <div>
                    <img src="" alt="облоожка">
                  </div>
                </div>
              </div>
            </div>
          </transition>
          <div class="promo__list">
            <div class="promo__item" v-for="promo_action in promo">
              <div><b>{{ promo_action.main_header }}</b></div>
              <div><small>{{ promo_action.sub_header }}</small></div>
              <div>{{ promo_action.header }}</div>
              <div v-if="promo_action.format_start"><small>Начало акции {{ promo_action.format_start }}</small></div>
              <div v-if="promo_action.format_finish"><small>Конец акции {{ promo_action.format_finish }}</small></div>
              <div class="promo__buttons">
                <button class="btn btn-small" @click="edit_promo(promo_action.id)">Изменить</button>
                <button class="btn btn-small" @click="remove_promo(promo_action.id)">Уничтожить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});


function formatDate(date) {
  if (date) {
    var dd = date.getDate();
    if (dd < 10) dd = '0' + dd;
    var mm = date.getMonth() + 1;
    if (mm < 10) mm = '0' + mm;
    var yy = date.getFullYear() % 100;
    if (yy < 10) yy = '0' + yy;
    return dd + '.' + mm + '.' + yy;
  } else return '';
}

var promo = [];

export default {
  name: 'Promo',
  props: ['id'],
  data() {
    return {
      promo: promo,
      loading: 0,
      edit_promo_show: false,
      detail: {
        id: null,
        main_header:'',
        sub_header: '',
        header: '',
        description : '',
        code: '',
        image: '',
        start: null,
        finish: null
      }
    }
  },
  methods: {
    add_promo: function() {
      this.detail.id = null;
      this.detail.main_header = 'основной заголвоок';
      this.detail.sub_header = 'подзаголовок';
      this.detail.header = 'заголовок';
      this.detail.description = 'Описание акции';
      this.detail.code = '';
      this.detail.start = null;
      this.detail.finish = null;
      this.edit_promo_show = true;
    },
    edit_promo: function(id) {
      for (var i = 0; i < promo.length; i++) {
        if (promo[i].id == id) {
          this.detail.id = promo[i].id;
          this.detail.main_header = promo[i].main_header;
          this.detail.sub_header = promo[i].sub_header;
          this.detail.header = promo[i].header;
          this.detail.description = promo[i].description;
          this.detail.code = promo[i].code;
          this.detail.start = promo[i].start;
          this.detail.finish = promo[i].finish;
        }
      }
      this.edit_promo_show = true;
    },
    remove_promo: function(id) {
      var url = "/remove_promo.php";
      var data = new FormData();
      var detail_promo = {
        id: id
      };
      data.append("data", JSON.stringify(detail_promo));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            for (var i = 0; i < promo.length; i++) {
              if (promo[i].id === id) {
                promo.splice(i,1);
              }
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    save_promo: function() {
      var url = "/edit_promo.php";
      var data = new FormData();
      var edit_promo = this.detail;
      data.append("data", JSON.stringify(edit_promo));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            if (this.detail.id) {
              for (var i = 0; i < promo.length; i++) {
                if (promo[i].id == this.detail.id) {
                  promo[i].main_header = this.detail.main_header;
                  promo[i].sub_header = this.detail.sub_header;
                  promo[i].header = this.detail.header;
                  promo[i].description = this.detail.description;
                  promo[i].code = this.detail.code;
                  promo[i].image = this.detail.image;

                  if (this.detail.start) {
                    var start = new Date(this.detail.start);
                    promo[i].start = this.detail.start;
                  } else promo[i].start = '';
                  if (this.detail.finish) {
                    var finish = new Date(this.detail.finish);
                    promo[i].finish = this.detail.finish;
                  } else promo[i].finish = '';
                  promo[i].format_start = formatDate(start);
                  promo[i].format_finish = formatDate(finish);


                }
              }
            } else {
              console.log('add');
              var new_promo = {
                id: response.data.id,
                main_header: this.detail.main_header,
                sub_header: this.detail.sub_header,
                header: this.detail.header,
                description: this.detail.description,
                code: this.detail.code,
                image: this.detail.image,
                start: this.detail.start,
                finish: this.detail.finish
              }
              promo.push(new_promo);
            }
            this.edit_promo_show = false;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_promo: function() {
      this.loading++;
      promo.splice(0,promo.length);
      var url = "/promo.php";
      myApi.post(url)
        .then(function (response) {

          for (var i = 0; i < response.data.length; i++) {

            var promo_action = {
              id: response.data[i].id,
              main_header: response.data[i].main_header,
              sub_header: response.data[i].sub_header,
              header: response.data[i].header,
              description: response.data[i].description,
              image: response.data[i].image,
              code: response.data[i].code,
            }

            if (response.data[i].start) {
              var start = new Date(response.data[i].start);
              promo_action.start = response.data[i].start;
              promo_action.format_start = formatDate(start);

            }
            if (response.data[i].finish) {
              var finish = new Date(response.data[i].finish);
              promo_action.finish = response.data[i].finish;
              promo_action.format_finish = formatDate(finish);
            };

            promo.push(promo_action);
            console.log(promo);
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },

  },
  mounted: function () {
    this.get_promo();
  }
}
</script>

<style lang="scss">
.promo {


  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .btn {
      margin-right: 5px;
      font-size: 14px;
      line-height: 22px;
      border-radius: 3px;
    }
  }

  &__item {
    margin: 10px 0;
  }

  .edit_promo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__modal {
      width: 600px;
      //height: 300px;
      max-width: 100%;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px;

      input {
        width: 100%;
        margin-bottom: 5px;
        border: 1px solid silver;
      }

      .promo_header {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #005d7c;
        text-transform: uppercase;
        margin: 5px 0;
        text-align: center;
      }

      textarea {
        width: 100%;
        height: 100px;
        border: 1px solid silver;
        color: #777777;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        padding: 3px;
        margin-bottom: 5px;
      }
    }


    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      div {
        width: 50%;
      }
      .data {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .promocode {
          text-transform: uppercase;
          font-weight: 600;
          color: #005d7c;
        }
        div {
          width: 50%;
        }
      }
    }

    &__header {
      .main_header {
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        color: #005d7c;
        text-transform: uppercase;
        margin: 5px 0;
        text-align: center;
      }
      .sub_header {
        color: #999999;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}
</style>
