<template lang="html">
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Сводка</h1>

        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="block">
            <monthly-income v-bind="obj" />
          </div>
        </div>
        <div class="col-6">
          <div class="block">
            Последние сделки:
            <div v-for="order in last_order">
              {{ order.name }} - {{ order.sum }} руб.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="block">
            Всего на складе:<br>
            {{ sum_stock }}<br>
            Заканчиваюся:
            <div v-for="item in stock">
              {{ item.name }} - {{ item.quantity }}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="block">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="block">
            Последние сообщение из Холиновостей
            <div v-if="last_news.id" class="last_news">
              <small>{{ last_news.header}}</small>
              <p v-html="last_news.description"></p>
              <small>{{ last_news.date }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'
import dateFormat from 'dateformat'


import VueCharts from 'vue-chartjs'
import { Bar, Line } from 'vue-chartjs'

import MonthlyIncome from './MonthlyIncome.vue'


var items = [];
var stock = [];
var appliacation_items = [];
var last_order = [];
const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

export default {
  name: 'Report',
  components: { MonthlyIncome },
  props:['id'],
  data() {
    return {
      obj: {
        chart: {
          labels: [],
          datasets: [{
            label: 'Продажи',
            backgroundColor: '#00bcf9',
            data: []
          }]
        },
        new_chart: {},
        loading: 1
      },
      now_month: '',
      now_month_val: 0,
      prev_month: '',
      prev_month_val: 0,
      sum_stock: 0,
      stock: stock,
      last_order: last_order,
      last_news: {
        id: null,
        header: '',
        description: '',
        date: ''
      }
    }
  },
  methods: {
    get_applications: function() {
      this.loading++;
      var url = "/report.php";
      var data = new FormData();
      var options = {
        location: 'stock',
        user_id: this.id
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          console.log(response);
          this.now_month = response.data.month[0];
          this.now_month_val = response.data.month[1];
          this.prev_month = response.data.month[2];
          this.prev_month_val = response.data.month[3];

          this.obj.new_chart = {
            labels: [this.prev_month, this.now_month],
            datasets: [{
              label: 'Продажи',
              backgroundColor: '#00bcf9',
              data: [this.prev_month_val,this.now_month_val]
            }]
          }

          this.obj.loading = 0;


          this.sum_stock = response.data.sum_stock;

          stock.splice(0,stock.length);
          if (response.data.stock){
            for (var i = 0; i < response.data.stock.length; i++) {
              stock.push(response.data.stock[i]);
            }
          }

          last_order.splice(0,last_order.length);
          if (response.data.last_order) {
            for (var i = 0; i < response.data.last_order.length; i++) {
              var order_data = JSON.parse(response.data.last_order[i].items);
              // var sum = function() {
              //   var sum = 0;
              //   for (var i = 0; i < order_data.items.length; i++) {
              //     sum += order_data.items[i].quantity
              //   }
              //   return sum;
              // }
              // console.log(sum());
              var order = {
                name: order_data.buyer.name,
                date: response.data.last_order[i].date,
                sum: response.data.last_order[i].sum
              }
              last_order.push(order);
            }
          }

          if (response.data.last_news) {
            var time = new Date(response.data.last_news.date);
            this.last_news = {
              id: response.data.last_news.id,
              header: response.data.last_news.header,
              description: response.data.last_news.header,
              date: dateFormat(time, "HH:MM:ss, dd.mm.yyyy")
            }
          }


        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  mounted() {
    this.get_applications();
  }
}
</script>

<style lang="scss">
.last_news {
  p {
    margin: 0;
  }
}
</style>
