<template lang="html">
  <div class="offline_sells">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Оффлайн продажа</h1>
          <div class="spinner loader-main" v-if="loading_main">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class="bascet" @click.stop="show_cart = !show_cart" id="cart">
            <span class="quantity" id="quantity">{{ quantity }}</span>
          </div>
          <div class="cart" v-if="show_cart">
            <div v-if="items_in_cart.length < 1">Корзина пуста</div>
            <div v-else>
              <template v-for="item_in_cart in items_in_cart">
              <div class="cart__item">
                <div class="item-description">
                  {{ item_in_cart.name}} - <input type="text" class="price" v-model="item_in_cart.price"><small>руб.</small>
                </div>
                <div class="item-quantity">
                  <button @click="edit_quantity(item_in_cart.id, -1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                  </button>
                  <span class="quantity">{{ item_in_cart.quantity}}</span>
                  <button @click="edit_quantity(item_in_cart.id, 1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                  </button>
                  <button @click="edit_quantity(item_in_cart.id, -item_in_cart.quantity)" class="remove">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                  </button>
                </div>
              </div>
            </template>
            <hr />
            Итого: <span class="sum">{{ sum }}</span> руб.
            <input type="text" placeholder="Имя*" v-model="name">
            <input type="text" placeholder="Телефон*" v-model="phone">
            <input type="text" placeholder="Email" v-model="email">
            <button class="btn-loading btn-blue btn-small" @click="sell">
              <div class="spinner" v-if="loading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
              <template v-else>Продать</template>
            </button>
            </div>

          </div>
          <!-- <Cart v-if="show_cart" v-bind="[cart, user]" v-on:edit_quantity="edit_quantity"/> -->
          <div class="sell_block__nav">
            <template v-for="cat in categories">
              <button class="btn-blue btn-square btn-small" v-bind:class="{ active: category === cat.id }" v-on:click="set_category(cat.id)">{{ cat.name }}</button>
            </template>
              <!-- <button class="btn-blue btn-square btn-small" v-on:click="set_category(0)" v-bind:class="{ active: category === 0 }">Все</button> -->
          </div>
          <div class="sell_block__items">
            <template v-for="item in items">
                <div class="sell_block__item" :key="item.id" :title="item.name">
                  <div class="quantity">{{ item.quantity }}</div>
                  <img :src="photos_url + item.photo">
                  <button class="btn-blue btn-small btn-add-to-card" @click="add_to_cart(item.id,item.name, item.price)">
                    <template v-for="q in items_in_cart">
                      <span v-if="q.id == item.id">{{ q.quantity }} </span>
                    </template>
                    В корзину
                  </button>
                </div>
            </template>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import config from '../config.js'
import $ from 'jquery'
import _ from 'lodash'
const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

var categories = [];
var items = [];
var items_in_cart = [];
var category = null;


$(document).on('click', function(e) {
  if (!$(e.target).closest(".cart").length) {
    obj.show = !obj.show;
  }
});

var obj = {
  show: false
}


export default {
  name: 'Sell',
  props:['id'],
  data() {
    return {
      obj,
      items: items,
      categories: categories,
      category: category,
      loading: 0,
      loading_main: 0,
      show_cart: false,
      items_in_cart: items_in_cart,
      name: '',
      phone: '',
      email: ''
    }
  },
  computed: {
    show: function () {
      return this.obj.show;
    },
    quantity: function() {
      var quantity = 0;
      for (var i = 0; i < this.items_in_cart.length; i++) {
        quantity += this.items_in_cart[i].quantity;
      }
      return quantity;
    },
    sum: function() {
      var sum = 0;
      for (var i = 0; i < this.items_in_cart.length; i++) {
        sum += this.items_in_cart[i].price * this.items_in_cart[i].quantity;
      }
      return sum;
    },
    photos_url: function() {
      return config.API_URL + 'goods/';
    }
  },
  watch: {
    show: function (val) {
      if (this.show_cart) this.show_cart = false;
    },
    quantity: function() {
      this.puls_quantity();
    },
    category: function(id) {
      this.get_goods(id);
      category = id;
    }
  },
  methods: {
    sell: function () {
      if (this.name && this.phone) {
        this.loading++;
        var url = "/order.php";
        var action = {
          id: this.id,
          action: 'accept',
          location: 'offline'
        }
        var data = new FormData();
        var sell_items = [];
        for (var i = 0; i < items_in_cart.length; i++) {
          var item_id = items_in_cart[i].id;
          var item_quantity = items_in_cart[i].quantity;
          var price = items_in_cart[i].price;
          var item = {
            id: item_id,
            quantity: item_quantity,
            price: price
          }
          var buyer = {
            name: this.name,
            phone: this.phone,
            email: this.email
          }
          sell_items.push(item);
        }
        data.append("data", JSON.stringify(action));
        data.append("items", JSON.stringify(sell_items));
        data.append("buyer", JSON.stringify(buyer));
        myApi.post(url, data)
          .then(function (response) {
              console.log(response);
              this.loading--;
              items_in_cart.splice(0,items_in_cart.length);

          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }
    },
    puls_quantity: function() {
      var quantity_el = $('#quantity')[0];
      if (!this.animate) {
        this.animate = true;
        $(quantity_el).animate({width: 22, height: 22, top: -4, right: -4, lineHeight: 20}, 200);
        $(quantity_el).animate({width: 20, height: 20, top: -3, right: -3, lineHeight: 16}, 200, function () {
          this.animate = false;
        }.bind(this));
      }
    },
    set_category: function(id) {
      this.category = id;
    },
    get_categories: function() {
      //categories.splice(0,categories.length);
      this.loading_main++;
      var url = "/categories.php";
      myApi.post(url)
        .then(function (response) {
          categories.splice(0,categories.length);
          for (var i = 0; i < response.data.length; i++) {
            categories.push(response.data[i]);
          }
          if (categories.length > 0) {
            //Костыль)) Обновляет товары на странице
            if (category === categories[0].id) this.get_goods(categories[0].id);
            this.category = categories[0].id;
          } else {
            this.category = 0;
          }
          this.loading_main--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_goods: function(category) {
      this.loading_main++;
      items.splice(0,items.length);
      var url = "/stock.php";
      var data = new FormData();
      var filter = {
        id: this.id,
        category: category
      };
      data.append("data", JSON.stringify(filter));

      myApi.post(url,data)
        .then(function (response) {
          items.splice(0,items.length);
          if (response.data.items) {
            for (var i = 0; i < response.data.items.length; i++) {
              items.push(response.data.items[i]);
            }
          }
 
          this.loading_main--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_cart: function(id) {
      items_in_cart.splice(0,items_in_cart.length);
      var url = "/cart_offline_shop.php";
      var data = new FormData();
      var user = {
        id: this.id
      };
      data.append("data", JSON.stringify(user));

      myApi.post(url,data)
        .then(function (response) {
          //console.log(response.data);
          if (!response.data.error) {
            items_in_cart.splice(0,items_in_cart.length);
            for (var i = 0; i < response.data.length; i++) {
              items_in_cart.push(response.data[i]);
            }
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    update_cart: _.debounce(function() {
      if (!this.loading) {
        var items = [];
        for (var i = 0; i < items_in_cart.length; i++) {
          var item = {
            id: items_in_cart[i].id,
            quantity: items_in_cart[i].quantity
          }
          items.push(item);
        }
        var url = "/update_offline_cart.php";
        var data = new FormData();
        var user = {
          id: this.id
        };
        data.append("data", JSON.stringify(user));
        data.append("items", JSON.stringify(items_in_cart));

        myApi.post(url,data)
          .then(function (response) {
            //console.log(response);
            //this.loading--;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }
    }, 2000),
    add_to_cart: function(id, name, price) {
      var add = false;
      var item = {
        id: id,
        name: name,
        price: price,
        quantity: 1
      };

      for (var i = 0; i < items_in_cart.length; i++) {
        if (items_in_cart[i].id == id) {
          items_in_cart[i].quantity+=1;
          add = true;
        }
      }
      if (!add) {
        items_in_cart.push(item);
      }
      this.update_cart();
    },
    edit_quantity: function(id, quantity) {
      for (var i = 0; i < items_in_cart.length; i++) {
        if (items_in_cart[i].id == id) {
          items_in_cart[i].quantity+=quantity;
          if (items_in_cart[i].quantity < 1) {
            items_in_cart.splice(i,1);
          }
        }
      }
      this.update_cart();
    },
  },
  mounted: function () {
    this.get_categories();
    this.get_cart();
  }
}
</script>

<style lang="scss">
  .sell_block {
    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 20px;
      margin-left: 0;
      .btn-blue {
        margin-right: 10px;
      }
    }

    &__items {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      flex-wrap: wrap;
    }
    &__item {
      position: relative;
      margin: 0 10px 10px 0;
      img {
        max-width: 200px;
        max-height: 200px;
      }
      .quantity {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 10px;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: #00bcf9;
        color: #fff;
        font-size: 12px;
      }

    }
  }
</style>
