<template lang="html">
  <div class="stock">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Склад</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="block remnants">
            <button class="btn-filter" title="Фильтр">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
            </button>
            <b>Остатки:</b>
            <div class="remnants__sum">
              Итого: {{ sum_items }}
            </div>
            <div class="remnants__items">
              <template v-for="item in items">
                <div v-bind:class="{ red: item.quantity < 6 }">
                  {{ item.name }} - {{ item.quantity }}
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="col-7">
          <div class="block">Рекомендуем закупить:</div>
          <div class="block">Популярные товары:</div>
          <div class="block applications">Ваши заявки:
            <template v-if="loading">Загрузка</template>

            <template v-for="application in applications">
              <div class="" :id="'application_id_' + application.id">
                <div>{{ application.date }}</div>
                <div v-if="show_detail && show_detail_id === application.id">
                  <div>
                    <template v-for="items in detail.items">
                      <div><small>{{ items.name }} - {{ items.quantity }}</small></div>
                    </template>
                  </div>
                </div>
                <div>
                  <button v-on:click="detail_application(application.id)">Детали</button>
                  <button v-on:click="accept_application(application.id)">В склад</button>
                  <button v-on:click="cancel_application(application.id)">Отмена</button></div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../config.js'

var items = [];
var appliacation_items = []
const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

var applications = [];

export default {
  name: 'Stock',
  props: ['id'],
  data() {
    return {
      applications: applications,
      loading: 0,
      items: items,
      show_detail: false,
      show_detail_id: null,
      detail: {
        items: appliacation_items
      }
    }
  },
  computed: {
    sum_items: function() {
      var amt = 0;
      for (var i = 0; i < this.items.length; i++) {
        amt += this.items[i].quantity;
      }
      return amt;
    }
  },
  methods: {
    get_applications: function() {
      this.loading++;
      applications.splice(0,applications.length);
      var url = "/applications.php";
      var data = new FormData();
      var options = {
        location: 'stock',
        user_id: this.id
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            applications.push(response.data[i]);
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    accept_application: function(id) {
      this.loading++;
      var url = "/accept_application.php";
      var data = new FormData();
      var application = {
        id: id,
        location: 'stock'
      };
      data.append("data", JSON.stringify(application));

      myApi.post(url,data)
        .then(function (response) {
          if (response.data.error === 0) {
            this.loading--;
            $('#application_id_' + id).slideUp(200);
            this.get_stok();
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
          this.loading--;
        });
    },
    cancel_application: function(id) {
      this.loading++;
      var url = "/cancel_application.php";
      var data = new FormData();
      var application = {
        location: 'stock',
        id: id
      };
      data.append("data", JSON.stringify(application));

      myApi.post(url,data)
        .then(function (response) {
          if (response.data.error === 0) {
            this.loading--;
            $('#application_id_' + id).slideUp(200);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
          this.loading--;
        });
    },
    detail_application: function(id) {
      if (this.show_detail === true && this.show_detail_id === id) {
        this.show_detail = false;
        return;
      }
      this.show_detail = true;
      this.show_detail_id = id;
      appliacation_items.splice(0,appliacation_items.length);

      var url = "/detail_application.php";
      var data = new FormData();
      var application = {
        id: id
      };
      data.append("data", JSON.stringify(application));

      myApi.post(url,data)
        .then(function (response) {
          if (!response.data.error) {
            for (var i = 0; i < response.data.items.length; i++) {
              appliacation_items.push(response.data.items[i]);
            }
          } else {
            alert('Произошла ошиба загрузки  данных.')
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });




    },
    get_stok: function() {
      items.splice(0,items.length);
      this.loading++;
      var url = "/stock.php";
      var data = new FormData();
      var user = {
        id: this.id
      };
      data.append("data", JSON.stringify(user));

      myApi.post(url,data)
        .then(function (response) {
          if (!response.data.error) {
            if (response.data.items) {
              for (var i = 0; i < response.data.items.length; i++) {
                items.push(response.data.items[i]);
              }
            }
          } else {
            alert('Произошла ошиба загрузки  данных.')
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted: function () {
    this.get_applications();
    this.get_stok();
  }
}
</script>

<style lang="scss">
.stock {
  .block {
    position: relative;
    .remnants {

      &__sum {
        margin: 10px 0;
      }
      &__items {
        .red {
          color: red;
        }
      }
    }

  }
  .btn-filter {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    svg {
      width: 20px;
      top: 3px;
      left: 5px;
    }
  }
}
</style>
