<template lang="html">
  <div class="cart">
    Корзина:
    <template v-if="loading">Загрузка</template>
    <div><ul>
      <template v-for="item in items">
        <li :key="item.id">{{ item.name }} - {{ item.quantity }}</li>
      </template>
    </ul></div>
    <div>
      <button class="btn-loading btn-blue btn-small" @click="add_application">
        <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <template v-else>Продать</template>
      </button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import config from '../config.js'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

var categories = [];
var items = [];

export default {
  name: 'Cart',
  props: ['id'],
  data() {
    return {
      items: items,
      categories: categories,
      category: 0,
      loading: 0
    }
  },
  methods: {
    get_goods: function(category) {
      this.loading++;
      items.splice(0,items.length);
      var url = "/goods.php";
      var data = new FormData();
      var options = {
        category: category,
        user: this.id,
        cart: true
      };
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            items.push(response.data[i]);
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    add_application: function() {
      if (items.length > 0) {
        this.loading++;
        var url = "/add_application.php";
        var data = new FormData();
        var goods = [];
        for (var i = 0; i < items.length; i++) {
          var item = {
            id: items[i].id,
            quantity: items[i].quantity
          }
          goods.push(item);
        }
        var user = {
          user_id: this.id
        }
        data.append("user", JSON.stringify(user));
        data.append("data", JSON.stringify(goods));

        myApi.post(url,data)
          .then(function (response) {
            this.loading--;
            console.log(response.data.error);
            if (response.data.error === 0) {
              //если ошибок нет - чистим корзину
              items.splice(0,items.length);
              this.$emit('clear_cart');
            } else {
              alert('error :' + response.data.error);
            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  },
  mounted: function () {
    //вызывыем функцию получения товаров с нулевой категорией(все)
    this.get_goods(0);
  }
}
</script>

<style lang="scss">
</style>
