<template lang="html">
  <div>
  <svg style="display: none;">

  <svg id="report" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline>
  </svg>


  <svg id="order" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path>
  </svg>


  <svg id="sell" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" >
    <circle cx="8" cy="21" r="2"></circle><circle cx="20" cy="21" r="2"></circle><path d="M5.67 6H23l-1.68 8.39a2 2 0 0 1-2 1.61H8.75a2 2 0 0 1-2-1.74L5.23 2.74A2 2 0 0 0 3.25 1H1"></path>
  </svg>

  <svg id="buy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line>
  </svg>

  <svg id="stock" xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z"></path><polyline points="2.32 6.16 12 11 21.68 6.16"></polyline><line x1="12" y1="22.76" x2="12" y2="11"></line><line x1="7" y1="3.5" x2="17" y2="8.5"></line>
  </svg>

  <svg id="history" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 15 15"></polyline>
  </svg>


  <svg id="book" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
  </svg>

  <svg id="clipboard" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
  </svg>

  <svg id="holinews" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
  </svg>

  <svg id="partners" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
  </svg>


  <svg id="goods" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect>
  </svg>

  <svg id="media" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line>
  </svg>


  <svg id="promo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
  </svg>

  <svg id="promocodes" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <line x1="19" y1="5" x2="5" y2="19"></line><circle cx="6.5" cy="6.5" r="2.5"></circle><circle cx="17.5" cy="17.5" r="2.5"></circle>
  </svg>

  <svg id="stencils" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline>
  </svg>


  </svg>

    <ul class="menu">
      <template v-for="(item, index) in menu">
        <li class="menu__item" v-if="show(index)">
          <router-link :to="'/'+index">
            <svg><use :xlink:href="'#'+index" /></svg>
            <img class="icon-fond" v-if="index === 'fond'" src="../images/hpf.png" alt="">{{ item }}<span>{{ notification(index) }}</span>
          </router-link>
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Mainmenu',
  props: ['level','online','stock','lessons'],
  data() {
    return {
      menu: {
        'report' : 'Сводка',
        'order' : 'Заказы',
        'sell' : 'Продать',
        'buy' : 'Закупить',
        'stock' : 'Склад',
        'book' : 'База знаний',
        'clipboard' : 'Доска идей',
        'fond' : 'Holiday Фонд',
        'holinews' : 'Холиновости',
        'partners' : 'Партнёры',
        'media': 'Медиафайлы',
        'history' : 'История',
        'stencils' : 'Трафареты',
        'goods' : 'Товары',
        'promo' : 'Акции',
        'promocodes' : 'Промокоды'
      }
    }
  },
  computed: {
    admin: function () {
      if ((this.level === 2) || (this.level === 13)) return true;
      else return false;
    }
  },
  methods: {
    notification: function (index) {
      if (index === 'order' && this.online) return " (" + this.online +")";
      if (index === 'stock' && this.stock) return " (" + this.stock +")";
      if (index === 'book' && this.lessons) return " (" + this.lessons +")";
    },
    show: function(name) {
      if (this.admin) return true;
      if (!this.admin) {
        if (name === 'goods') return false;
        if (name === 'promo') return false;
        if (name === 'promocodes') return false;
        if (name === 'stencils') return false;
      }
      return true;
    }
  },
}
</script>

<style lang="scss">
.icon-fond {
  width: 40px;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left:18px;
}
svg {
  position: absolute;
  top: 8px;
  left: 25px;
  width: 25px;
  height: 25px;
  stroke-width: 1.5;
}
.menu {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -12px;
  &__item {
    display: block;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgba(#f1effc, 0.7);
    }
    a {
      position: relative;
      padding-left: 60px;
      display: block;
      line-height: 40px;
      vertical-align: middle;
      text-decoration: none;
      color: #005D7C;
    }
    .router-link-active {
      border-left: 3px #00BCF9 solid;
      background-color: rgba(#00bcf9, 0.05);
      color: #034358;
      margin-left: -3px;
    }
  }
}
</style>
