<template lang="html">
  <div>
    <button class="btn-yandexdisk" @click="go_to_url('https://yadi.sk/d/JHzkMOQ63R6oMF')">
      <span>макеты</span>
      <img src="../images/yd.png" alt="">
    </button>
    <div class="avatar">
      <!-- <div class="notice">
        13
      </div> -->
      <img :src="photo_src" alt="" class="photo" v-if="photo">
      <svg v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
    </div>
    <div class="name">{{ name }}</div>
    <div class="rank">{{ your_level }}</div>
    <div class="rating">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star empty"></div>
      <div class="star empty"></div>
    </div>
    <div class="bonuses" title="HoliCash">
      <img src="../images/holicash.png" alt="">
      <span>{{ bonuses }}</span>
    </div>
    <button class="btn-edit" title="Изменить профиль" @click="edit_user">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
    </button>
    <button class="btn-exit" title="Выйти" @click="exit">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="log-out"><path d="M10 22H5a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h5"></path><polyline points="17 16 21 12 17 8"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
    </button>
  </div>
</template>

<script>
import axios from 'axios'
import config from '../config.js';
import cookie from '../cookie.js';

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

export default {
  components: {

  },
  props: ['id', 'level', 'reload'],
  data() {
    return {
      name: 'Username',
      bonuses: 0,
      photo: '',
      photo_src: ''
    }
  },
  computed: {
    your_level: function() {
      switch(this.level) {
        case '0':
          return 'Гость';
          break;

        case 1:
          return 'Партнёр';
          break;

        case 2:
          return 'Куратор';
            break;

        case 3:
          return 'Субдиллер';
            break;


        case 4:
          return 'Холивождь';
            break;

        case 13:
          return 'Разработчик';
            break;

        default:
          return 'Неизвестный';
          break;
      }
    }
  },
  watch: {
    reload: function() {
      this.getUserData();
    }
  },
  methods: {
    go_to_url: function (url) {
      window.open(url, "_blank");
    },
    edit_user: function() {
      this.$router.push({ path: '/edit_user' });
    },
    exit: function() {
      cookie.set('id');
      cookie.set('key');
      this.$router.push({ path: '/' });
    },
    getUserData: function() {
      var url = "/user_data.php"
      var data = new FormData();
      var user = {
        id: this.id
      }
      data.append("data", JSON.stringify(user));
      myApi.post(url,data)
        .then(function (response) {
          if (response.data) {
            this.name = response.data.name;
            this.photo = response.data.photo;
            this.bonuses = response.data.bonuses;
            this.photo_src = config.API_URL + 'users/th_' + this.photo;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        }.bind(this));
    }
  },
  mounted() {
    if(this.id) this.getUserData();
  }
}
</script>

<style lang="scss">
.user_panel {
  .bonuses {
    position: absolute;
    top: 50px;
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #00BCF9;
    font-weight: 600;
    img {
      width: 30px;
      height: auto;
      margin: 0 5px 0 0;
    }
  }
  .btn-yandexdisk {
    border: 1px solid #00BCF9;
    background-color: #fff;
    color: #00BCF9;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px 0 10px;
    border-radius: 18px;
    position: absolute;
    top: 8px;
    right: 80px;
    text-transform: uppercase;
    overflow: hidden;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
    span {
      position: absolute;
      top: 4px;
      left: 13px;
      opacity: 0;
      transition: all 0.3s ease;
    }
    img {
      width: auto;
      height: 35px;
      background-color: white;
      z-index: 1;
      position: absolute;
      right: -2px;
      top: -2;
      padding: 5px;
    }
    &:hover {
      width: 150px;
      span {
        opacity: 1;
      }
    }
  }
  .avatar {
    width: 80px;
    height: 80px;
    background-color: #00BCF9;
    border-radius: 40px;
    position: relative;
    margin: 0 auto 0 0;
    overflow: hidden;
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
    .camera {
      width: 30px;
      height: 30px;
      color: white;
      margin-top: 15px;
    }
    .notice {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background-color: #005D7C;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      color: white;
    }
  }
  .name {
    font-weight: 400;
  }
  .rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .star {
      float: left;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: gold;
      margin: 2px;
      &.empty {
        border: 1px gold solid;
        background-color: white;
      }
    }
  }
  .btn-edit {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 100px;
    border: none;
    background-color: #00bcf9;
    svg {
      width: 20px;
      height: 20px;
      top: 4px;
      left: 6px;
      color: #fff;
    }
    &:hover {
      background-color: #005D7C;
    }
  }

  .btn-exit {
    position: absolute;
    right: 20px;
    top: 0;
    color: white;
    background-color: #00BCF9;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    &:hover {
      background-color: #005D7C;
    }

    .log-out {
      position: absolute;
      top: 12px;
      left: 15px;
      width: 25px;
      height: 25px;
    }
  }
}

</style>
