<template lang="html">
  <div class="wrapper">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-sm-5 col-lg-2 col-12 side">
        <img src="./assets/logo.png" alt="Holiday-Paint" class="logo">
          <Mainmenu v-bind="[user, notifications]"/>
      </div>
      <div class="col-sm-7 col-lg-10 col-12">
        <div class="content">
          <div class="user_panel">
            <Userpanel v-bind="user"/>
          </div>
          <Report v-if="$route.params.open === 'report'" v-bind="user"/>
          <Order v-if="$route.params.open === 'order'" v-bind="user"/>
          <Sell v-if="$route.params.open === 'sell'" v-bind="user"/>
          <Stock v-if="$route.params.open === 'stock'" v-bind="user"/>
          <Buy v-if="$route.params.open === 'buy'" v-bind="user"/>
          <History v-if="$route.params.open === 'history'" v-bind="user"/>
          <Goods v-if="$route.params.open === 'goods'"/>
          <EditUser v-if="$route.params.open === 'edit_user'" v-bind="user" v-on:reload="reload_user_data"/>
          <Partners v-if="$route.params.open === 'partners'" v-bind="user"/>
          <Media v-if="$route.params.open === 'media'" v-bind="user"/>
          <Promo v-if="$route.params.open === 'promo'" v-bind="user"/>
          <Promocodes v-if="$route.params.open === 'promocodes'" v-bind="user"/>
          <Book v-if="$route.params.open === 'book'" v-bind="user"/>
          <Clipboard v-if="$route.params.open === 'clipboard'" v-bind="user"/>
          <Holinews v-if="$route.params.open === 'holinews'" v-bind="user"/>
          <Stencils v-if="$route.params.open === 'stencils'" v-bind="user"/>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import cookie from './cookie.js'
import axios from 'axios'
import config from './config.js'

const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

import Mainmenu from './components/Menu.vue'
import Userpanel from './components/User.vue'
const Report = () => import(/* webpackChunkName: "Report" */ './pages/Report.vue');
const Order = () => import(/* webpackChunkName: "Order" */ './pages/Order.vue');
const Sell = () => import(/* webpackChunkName: "Sell" */ './pages/Sell.vue');
const Stock = () => import(/* webpackChunkName: "Stock" */ './pages/Stock.vue');
const Buy = () => import(/* webpackChunkName: "Buy" */ './pages/Buy.vue');
const History = () => import(/* webpackChunkName: "History" */ './pages/History.vue');
const Goods = () => import(/* webpackChunkName: "Goods" */ './pages/Goods.vue');
const EditUser = () => import(/* webpackChunkName: "EditUser" */ './pages/EditUser.vue');
const Partners = () => import(/* webpackChunkName: "EditUser" */ './pages/Partners.vue');
const Media = () => import(/* webpackChunkName: "MediaFiles" */ './pages/Media.vue');
const Promo = () => import(/* webpackChunkName: "MediaFiles" */ './pages/Promo.vue');
const Promocodes = () => import(/* webpackChunkName: "MediaFiles" */ './pages/Promocodes.vue');
const Book = () => import(/* webpackChunkName: "Book" */ './pages/Book.vue');
const Clipboard = () => import(/* webpackChunkName: "Clipboard" */ './pages/Clipboard.vue');
const Holinews = () => import(/* webpackChunkName: "Clipboard" */ './pages/Holinews.vue');
const Stencils = () => import(/* webpackChunkName: "Clipboard" */ './pages/Stencils.vue');

export default {
  name: 'Home',
  components: {
    Mainmenu,
    Userpanel,
    Report,
    Order,
    Sell,
    Stock,
    Buy,
    History,
    Goods,
    EditUser,
    Partners,
    Media,
    Promo,
    Promocodes,
    Book,
    Clipboard,
    Holinews,
    Stencils
  },
  data() {
    return {
      user: {
        id: null,
        key: null,
        level: null,
        reload: false,
      },
      notifications: {
        online: 0,
        stock: 0,
        lessons: 0
      }
    }
  },
  methods: {
    reload_user_data: function() {
      this.user.reload = !this.user.reload;
    },
    authentication: function() {
      if (cookie.get('id') && cookie.get('key')) {
        var url = "/authentication.php";
        var data = new FormData();
        this.user.id = cookie.get('id');
        this.user.key = cookie.get('key');
        this.user.level = cookie.get('level');
        data.append("data", JSON.stringify(this.user));

        myApi.post(url,data)
          .then(function (response) {
            if (response.data.error === 0) {
              //Ошибок нет, продливаем куки
              cookie.set('id', this.user.id, { expires: 360000 });
              cookie.set('key', this.user.key, { expires: 360000 });
              this.user.level = response.data.level;
              cookie.set('level', response.data.level, { expires: 360000 });
              this.get_notification(this.user.id);
            } else {
              //Произошла ошибка, отчистить куки и выйти
              cookie.delete('id');
              cookie.delete('key');
              this.$router.push({ path: '/' })
            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      } else {
        cookie.delete('id');
        cookie.delete('key');
        this.$router.push({ path: '/' });
      }
    },
    get_notification: function(id) {
      var url = "/notification.php";
      var data = new FormData();
      var options = {
        user_id: id
      }
      data.append("data", JSON.stringify(options));

      myApi.post(url,data)
        .then(function (response) {
          //console.log(response.data);
          if (!response.data.error) {
            this.notifications.online = response.data.online;
            this.notifications.stock = response.data.stock;
            this.notifications.lessons = response.data.lessons;
            //setTimeout(this.get_notification(this.user.id), 300000);
            var self = this;
            setTimeout(function(){
                self.get_notification(self.user.id);
            }, 10000);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });

    }
  },
  mounted: function () {
    this.authentication();
  }
}
</script>

<style lang="scss">
.wrapper {
  position: absolute;
  height: 100%;
  min-width: 100%;
}
.side {
  //padding: 30px 0 0;
  .logo {
    padding: 30px 20px;
  }
}

.content {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-color: #F5F6FA;
  padding-top: 180px;
}

.user_panel {
  position: absolute;
  left: 0;
  padding: 0 20px;
  top: 30px;
  width: 100%;
}

.container-fluid {
  height: 100%;
}
.row {
  height: 100%;
}

.block {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 7px 30px -10px rgba(0,0,0,0.05);
  margin: 15px 5px;
}
</style>
