<template>
  <div class="signin" :class="{ hide: hide }">
    <div class="signin__wrap" :class="{ hide: hide }">
      <div class="signin__form" id="form">
        <input type="email" class="email" :class="{ error: error === 1 }" placeholder="E-Mail" v-model="user.email">
        <div class="line"></div>
        <input type="password" class="password" id="password" :class="{ error: error === 2 }" placeholder="Пароль" v-model="user.password">
        <div class="line" :class="{ hiden: enter }"></div>
        <input type="password" class="d_password" id="d_password" :class="{ hiden: enter, error: error === 2 }" :disabled="enter" placeholder="Подтвердте пароль" v-model="user.d_password">
        <div class="line" :class="{ hiden: enter }"></div>
        <input type="text" class="code" id="code" :class="{ hiden: enter, error: error === 3 }" :disabled="enter" placeholder="Код приглашения" v-model="user.code">
      </div>
      <div class="signin__buttons">
        <button class="signin_button" v-on:click="signin">{{ action }}</button>
        <div><a href="" v-on:click.prevent="registration">{{ otheraction }}</a><a href="">Забыли пароль?</a></div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import config from './config.js'
import cookie from './cookie.js'


const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

export default {
  name: 'app',
  data () {
    return {
      hide: false,
      enter: true,
      error: 0,
      action: 'Войти',
      otheraction: 'Регистрация',
      user: {
        code: '',
        email: '',
        password: '',
        d_password: '',
      }
    }
  },
  watch: {
    enter: function () {
      if(!this.enter) this.action = 'Регистрация'; else this.action = 'Войти';
      if(this.enter) this.otheraction = 'Регистрация'; else this.otheraction = 'Войти';
    }
  },
  methods: {
    signin: function () {
      if (this.enter) {
        var url = '/signin.php';
      } else {
        var url = '/register.php';
      }
      if (this.user.email != '') {
        this.error = 0;
        if (((this.user.password === this.user.d_password) && (this.user.password !== '')) || this.enter) {
          this.error = 0;
        } else {
          this.error = 2;
        }
      } else {
        this.error = 1;
      }
      if (this.error === 0) {
      var data = new FormData();
      data.append("data", JSON.stringify(this.user));
      myApi.post(url, data )
        .then(function (response) {
          if (response.data.error === 0) {
            cookie.set('id', response.data.id, { expires: 360000 });
            cookie.set('key', response.data.key, { expires: 360000 });
            cookie.set('level', response.data.level, { expires: 360000 });
            this.hide = true;
            setTimeout(function () {
            this.$router.push({ path: '/report' });
            }.bind(this), 400);
          } else {
            switch (response.data.error) {
              case 1: {
                console.log('Неверный код приглашения.');
                this.error = 3;
                break;}
              case 2:
                console.log('Неверный email или пароль.');
                this.error = 2;
                break;
              default:
              console.log('Какая-то ошибка.');
            }
          }

        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
      } else {
        switch (this.error) {
          case 1:
            console.log('Не указан E-Mail');
            break;
          case 2:
              console.log('Пароли не совпадают или не указаны');
              break;
          default:

        }
      }
    },
    registration: function () {
      if (!this.enter) {
        this.enter = true;
      } else {
        this.enter = false;
      }
    }
  },
  mounted: function() {
    if (cookie.get('id') && cookie.get('key')) {
      this.$router.push({ path: '/report' });
    }
  }
}




</script>

<style lang="scss">
.line {
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 90%;
  background-color: #dadae0;
  content: '';
  position: relative;
  transition: all 0.3s ease;
  &.hiden {
    height: 0;
  }
}
.signin {
  font-family: 'Source Sans Pro', sans-serif;
  color: #b5b4b4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-image: url('./assets/signin-background.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.4s ease;
  &.hide {
    opacity: 0;
  }
  &__wrap {
    width: 265px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease;
    &.hide {
      .signin__form {
        margin-bottom: 150px;
      }
      opacity: 0;
    }
  }
  &__form {
    //height: 100px;
    //background-color: #f1f1f2;
    width: 265px;
    display: inline-block;
    background: #f1f1f2;
    border-radius: 5px;
    border: 6px #f1f1f2 solid;
    //padding: 6px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
    &::before {
      display: block;
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 255px;
      height:100%;
      border-radius: 4px;
      background-color: #FFF;
    }
    input {
      width: 100%;
      display: block;
      border: none;
      margin: 0;
      font-size: 18px;
      color: #9a9696;
      height: 45px;
      padding-left: 20px;
      position: relative;
      background: transparent;
      &.error {
        color: rgb(213, 118, 118);
        &::placeholder { /* Firefox 19+ */
          color: red;
        }
      }
      &.code, &.d_password {
        opacity: 1;
        transition: all 0.3s ease;
        &.hiden {
          height: 0;
          opacity: 0;
          pointer-events:none;
        }
      }
    }
  }
  &__buttons {
    .signin_button {
      font-family: 'Source Sans Pro', sans-serif;
      color: white;
      border: none;
      border-radius: 3px;
      text-align: center;
      width: 100%;
      background-color: #00BCF9;
      line-height: 42px;
      font-size: 20px;
      font-weight: 600;
      margin-top: 13px;
      margin-bottom: 13px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: #005D7C;
      }
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      a {
        color: #a4a3a3;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
</style>
