body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #3c3b3d;
}

h1 {
  font-weight: 800;
  font-size: 52px;
  color: #00bcf9;
  margin: 15px 0;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.btn {
  border-radius: 26px;
  border: none;
  background-color: #00bcf9;
  line-height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  &.active {
    background-color: #005d7c;
  }
  &:hover {
    background-color: #005d7c;
  }
  img {
    margin-right: 5px;
  }
  input {
    border: none;
    font-size: 12px;
    color: #005d7c;
    margin-right: 10px;
  }
}


.btn-plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #005d7c;
  position: relative;
  margin-left: 15px;
  svg {
    color: #fff;
    top: 2.5px;
    left: 3.5px;
    width: 24px;
    position: absolute;
    stroke-width: 3;
  }
}

.btn-blue {
  border-radius: 26px;
  border: none;
  background-color: #00bcf9;
  line-height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  &.active {
    background-color: #005d7c;
  }
  &:hover {
    background-color: #005d7c;
  }
  img {
    margin-right: 5px;
  }
  input {
    border: none;
    font-size: 12px;
    color: #005d7c;
    margin-right: 10px;
    display: none;
    padding: 0 5px;
  }
}

.btn-red {
  background-color: #f93400;
  color: #ffffff;
  &.active {
    background-color: #7c1e00;
  }
  &:hover {
    background-color: #7c1e00;
  }
  input {
    color: #7c1e00;
  }
}

.btn-trns {
  border-radius: 26px;
  border: 2px solid #005d7c;
  background-color: #fff;
  line-height: 50px;
  color: #005d7c;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  &:hover {
    background-color: rgba(#005d7c, 0.2);
  }

  img {
    margin-right: 5px;
  }
}

.btn-square {
  border-radius: 10px;
  background-color: #807f81;
  font-weight: 400;
  &:hover {
    background-color: #00bcf9;
  }
  &.active {
    background-color: #00bcf9;
  }
}

.btn-small {
  line-height: 33px;
  border-radius: 17px;
  font-weight: 400;
  padding: 0 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}



.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.btn-loading {
  margin: 10px;
  width: 150px;
  .spinner > div {
    width: 12px;
    height: 12px;
    background-color: #FFF;
  }
}

.loader-main {
  position: absolute;
  top: 100px;
  left: calc(50% - 35px;);
}


.bascet {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #005d7c;
  background-image: url("../images/shopping-cart.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 20px;
  top: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #00bae6;
  }
  .quantity {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    text-align: center;
    border: 2px solid #f8f8f8;
    background-color: #00e600;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
    position: absolute;
    right: -3px;
    top: -3px;
    //transition: all 0.3s ease;
  }
}


.btn-add-to-card {
  margin: 0 auto;
  position: relative;
  width: 100px;
  span {
    position: absolute;
    display: block;
    width: 100px;
    left: 0;
    top: 0;
    text-align: center;
    padding: 0 0 0 22px;
    margin: 0;
    border-radius: 10px;
    background-color: inherit;
    background-image: url("../images/plus_btn.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 25px;
  }
}


.cart {
  background-color: #fff;
  border: 1px solid silver;
  position: absolute;
  width: 320px;
  padding: 10px;
  border-radius: 10px;
  right: 80px;
  top: 0;
  z-index: 100;
  input {
    width: 100%;
    margin: 2px;
    border-radius: 3px;
    padding: 0 5px;
    border: 1px solid silver;
  }
  hr {
     border: 0; height: 0;
     border-top: 1px solid rgba(0, 0, 0, 0.1);
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    .price {
      border: none;
      padding: 0;
      font-size: 12px;
      width: 40px;
      text-align: right;
      background-color: rgb(176, 198, 246);
      color: #000;
      padding: 0 3px;
    }
    .item-description {
      //padding-top: 5px;
    }
    .item-quantity {
      flex-basis: 95px;
      flex-grow: 0;
      flex-shrink: 0;
      width: 95px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .quantity {
        min-width: 20px;
        font-size: 10px;
        display: inline-block;
        text-align: center;
        //line-height: 26px;
        //vertical-align: top;
      }
      button {
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 10px;
        color: #005d7c;
        background-color: #fff;
        border: 1px solid #005d7c;
        transition: all 0.3s ease;
        padding-left: 0.5px;
        position: relative;
        svg {
          width: 18px;
          height: 18px;
          position: absolute;
          top: 0;
          left: 0;
          //left: 1px;
        }
        &:hover {
          background-color: #73c3d6;
        }
        &.remove {
          border: none;
          width: 22px;
          height: 22px;
          svg {
            width: 20px;
            height: 20px;
            top: 1px;
            left: 1px;
          }
        }
      }
    }

  }
  .btn-blue {
    margin: 10px 0 0 auto;
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
