<template lang="html">
  <div class="book">
    <button class="btn-plus" @click="new_video" v-if="admin">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>
    <transition name="fade">
      <div class="edit_video" @click.self="show_edit = false" v-if="show_edit">
        <div class="edit_video__form">
          <input type="text" placeholder="Заголовок" v-model="edit.name">
          <input type="text" class="url" placeholder="URL YouTube Видео" v-model="edit.url">
          <button class="btn btn-small btn-save" @click="save_video">Сохранить</button>
        </div>
      </div>
    </transition>

    <transition name="fade">
      <div class="show_video" @click.self="show_video = false" v-if="show_video">
        <div class="show_video__content">
          <h2>{{ opened_video.name }}</h2>
          <div>
            <iframe width="420" height="315"
            :src="'https://www.youtube.com/embed/'+opened_video.code">
            </iframe>
          </div>
        </div>
      </div>
    </transition>

    <div class="videos">
      <div class="video" :class="video.color" v-for="(video,index) in videos" v-bind:key="index">
        <div  @click="open_video(index)" class="video__th">
          <span>{{ video.name }}</span>
          <img :src="'http://img.youtube.com/vi/'+ video.code +'/mqdefault.jpg'" alt="">
        </div>
    <div class="video__control">
      <div v-if="admin">
        <button class="btn btn-small btn-edit" @click="edit_video(index)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
        </button>
        <button class="btn btn-small btn-remove" @click="remove_video(index)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>
        </button>
      </div>
    </div>
</div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import config from '../../config.js'



const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});

function youtube_parser(url){
    var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
    var match = url.match(regExp);
    return (match&&match[7].length==11)? match[7] : false;
}


export default {
  props: ['id','level'],
  data () {
    return {
      loading: 0,
      show_edit: false,
      show_video: false,
      opened_videos: [],
      videos: [],
      opened_video: {
        id: null,
        header: '',
        code: '',
        url: ''
      },
      edit: {
        id: null,
        header: '',
        code: '',
        url: ''
      }
    }
  },
  computed: {
    admin: function() {
      return  this.level === 2 || this.level === 13?true:false;
    }
  },
  watch: {
    show_edit: function (val) {
      if (val) {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    },
    show_video: function (val) {
      if (val) {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    }
},
  methods: {
    open_video: function (index) {
      this.opened_video = this.videos[index];
      this.show_video = true;
    },
    new_video: function () {
      this.edit = {
        id: null,
        header: '',
        code: ''
      };
      this.show_edit = true;
    },
    edit_video: function (index) {
      this.edit = this.videos[index];
      this.show_edit = true;
    },
    remove_video: function (index) {
      var url = "/remove_video.php";
      var data = new FormData();
      var video = {
        id: this.videos[index].id
      }
      data.append("data", JSON.stringify(video));
      myApi.post(url, data)
        .then(function (response) {
          if (response.data.error === 0) {
            this.videos.splice(index,1);
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    save_video: function () {
      console.log('asasdas');
      var url = "/edit_video.php";
      var data = new FormData();
      this.edit.code = youtube_parser(this.edit.url);
      var video = this.edit;
      data.append("data", JSON.stringify(video));
      myApi.post(url, data)
        .then(function (response) {
          console.log('adasd');
          if (response.data.error === 0) {
            if (!this.edit.id) {
              this.edit.id = response.data.id;
              this.videos.push(this.edit);
              this.show_edit = false;
            } else this.show_edit = false;
          }
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    },
    get_videos: function () {
      this.loading++;
      this.videos.splice(0,this.videos.length);
      var url = "/videos.php";

      var data = new FormData();
      var user = {
        id: this.id
      }
      data.append("user", JSON.stringify(user));

      myApi.post(url,data)
        .then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            var time = new Date(response.data[i].date);
            var video = {
              id: response.data[i].id,
              name: response.data[i].name,
              url: 'https://www.youtube.com/watch?v='+response.data[i].code,
              code: response.data[i].code
            }
            this.videos.push(video);
          }
          this.loading--;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted () {
    this.get_videos();
  }
}
</script>

<style lang="scss">
.book {

  .videos {
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;

    .video {
      padding: 10px;
      margin: 5px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #eee;
      //width: 180px;
      text-transform: uppercase;
      color: #005D7C;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      &:hover {
        background-color: #eee;
      }

      &__th {
        cursor: pointer;
        padding: 0;
        position: relative;
        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          color: #FFF;
        }
        img {
          width: 120px;
          height: 120px;
          object-fit: cover;
        }
      }

      &__control {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
      }

      .btn-small {
        width: 120px;
        height: 30px;
        margin: 5px 0 0 5px;
        &:disabled {
          background-color: silver;
        }
      }
      .btn-edit, .btn-remove {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        display: inline-block;
      }
      .btn-edit {
        svg {
          top: 1.5px;
          left: 6px;
          width: 20px;
        }
      }
      .btn-remove {
        svg {
          top: 2px;
          left: 5px;
          width: 20px;
        }
      }
    }
  }

  .show_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(00,00,00,0.5);
    z-index: 2;

    &__content {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      max-height: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      width: 640px;
      max-width: 100%;
      margin: 30px 10px;
      position: relative;

      &::-webkit-scrollbar-track {
      	border-radius: 5px;
      	background-color: #fff;
      }

      &::-webkit-scrollbar {
      	width: 8px;
      	background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
      	border-radius: 10px;
      	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      	background-color: #005d7c;
      }

      h2 {
        text-transform: uppercase;
        color: #005D7C;
        font-weight: 500;
        margin: 0 0 10px;
      }

      iframe {
        width: 100%;
        height: 300px;
      }
    }
  }

  .edit_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(00,00,00,0.5);
    z-index: 2;

    &__form {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      max-height: 90%;
      overflow-y: auto;
      overflow-x: hidden;
      width: 640px;
      max-width: 100%;
      margin: 30px 10px;

      &::-webkit-scrollbar-track {
      	border-radius: 5px;
      	background-color: #fff;
      }

      &::-webkit-scrollbar {
      	width: 8px;
      	background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
      	border-radius: 10px;
      	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      	background-color: #005d7c;
      }


      input, textarea, select {
        display: block;
        width: 100%;
        border: 1px solid #005d7c;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      input {
        padding-left: 15px;
        text-transform: uppercase;
        color: #005D7C;
        font-weight: 500;
        margin: 0 0 10px;
        border: none;
        font-size: 24px;
      }
      .url {
        font-size: 18px;
      }

      .btn {
        margin: 0 5px 5px 0;
      }
      .btn-save {
        background-color: #005d7c;
        &:hover {
          background-color: #00BCF9;
        }
      }
    }
  }
}
</style>
